# Initialize Environment

### Compatibility notes

The following code is only compatible with a python 3.4 kernel and the notebook must be opened with ipython 3.0+.

In [1]:
from pdb import set_trace as debug
from pandas.io.parsers import read_csv
import pandas
from IPython.parallel import Client,require
from collections import Counter

In [2]:
import datetime
import re
import csv
import gzip
import ujson

In [12]:
#--> RAW_FILE_DIR with the directory that contains google_play__main.json.gz
#--> OUT_DIR with the directory of where you want the processed files to go
#--> DEBUG whether to print out created CSV files or not
#--> COMPRESS_LEVEL gzip compression level. warning: severely impacts runtime.
#--> LINE_LIMIT how many lines to iterate through in the raw file. For debugging.
DUMP_DATE = '2015_02_26_23_12'
RAW_FILE_DIR = '/data'
OUT_DIR = '/raid/out'
DEBUG = 1
COMPRESS_LEVEL = 9
LINE_LIMIT = 1000
PARALLEL = 1
PIGZ = 0
OBS_SKIP = 100
OBS_PRINT = 5

In [4]:
# Don't change these!
RAW_FILE_NEWDATA = '{}/appletail.json.gz'.format(RAW_FILE_DIR)
RAW_FILE = '{}/apple_ios__main.json.gz'.format(RAW_FILE_DIR)
OUT_BASE = OUT_DIR+'/{}__apple_ios__main__'+DUMP_DATE+'.csv.gz'

In [13]:
if PIGZ:
    @require(gzip)
    def iter_json_gzip(filename,LINE_LIMIT=LINE_LIMIT):
        return gzip.iter_json_gzip(filename,LINE_LIMIT=LINE_LIMIT)    
else:
    @require(gzip,ujson)
    def iter_json_gzip(filename,LINE_LIMIT=LINE_LIMIT):
        with gzip.open(filename,'rt') as file_iter:
            for c,line in enumerate(file_iter):
                if c > LINE_LIMIT and LINE_LIMIT>0:
                    break
                if isinstance(line,str):
                    if len(line)>0:        
                        out = ujson.loads(line)
                        if isinstance(out,dict):
                            if 'app_id' in out and 'timestamp' in out:
                                yield out

# Print Sample Observations

In [6]:
try:
    from sh import zcat,head,tail
    print(tail(head(zcat(RAW_FILE_NEWDATA, _piped =True),
                    "-n{}".format(OBS_SKIP)
                   ),"-n{}".format(OBS_PRINT)))
except:
    pass

# Initialize Parallel Computing

In [7]:
# Configured for: equity
if PARALLEL:
    ipython_parallel = Client()
    print("{} active computing engines".format(len(ipython_parallel.ids)))

    lbv = ipython_parallel.load_balanced_view()

    map = lambda f,itertable:lbv.map(f,itertable,\
    block =False,\
    ordered =False)

    @require('socket')
    def host(dummy):
        return socket.gethostname()

    nodes = list(lbv.map(host,ipython_parallel.ids))
    nodes = [int(x.split('equity')[1].split(".")[0]) for x in nodes]
    nodes = nodes

    print(sorted(list(Counter(nodes).items())))

57 active computing engines
[(2, 3), (5, 5), (6, 6), (8, 6), (10, 9), (11, 7), (12, 4), (17, 17)]

# NEWWEBSITE

In [8]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWWEBSITE(file_in,out_base,compress=1):
    headers = ['app_id','date','url']
    out_filename = out_base.format('NEWWEBSITE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        http = re.compile(r"(http://)|(https://)")
        www = re.compile(r"^www\.")
        ending = re.compile(r"\.(a-z)(.*?)^")
        bad = re.compile(r"\.[a-z]+(.*?)$")
        for json in iter_json_gzip(file_in):
            website = json.get('websiteUrl','')
            if isinstance(website,str):
                website = http.sub('',website).lower()
                website = www.sub('',website)
                website = website.split(r"/")[0]
                bad_str = bad.findall(website)
                if bad_str:
                    website = website.replace(bad_str[0],'')
                if running.get(json['app_id'],'')!=website and len(website)>0:
                    running[json['app_id']] = website
                    day = datetime.datetime.\
                    fromtimestamp(int(json['timestamp']))\
                            .strftime('%Y-%m-%d').strip()
                    obs = (json['app_id'],day,website)
                    csv_writer.writerow(obs)
    return out_filename

In [9]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWWEBSITE(RAW_FILE_NEWDATA,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date                           url
0    554943499  2015-02-19                  appstore.liv
1    626090799  2015-02-19                   triposo.com
2    554946247  2015-02-19               themurdocks.com
3    554961300  2015-02-19                pocketmags.com
4    554948318  2015-02-19          childrenbibleapp.com
5    554949951  2015-02-19                    gig-bar.at
6    626042451  2015-02-19                 2billiard.com
7    554948564  2015-02-19                  inetnose.com
8    554963282  2015-02-19                      palet.dk
9    554950152  2015-02-19          childrenbibleapp.com
10   554961305  2015-02-19  bundesliga-app.sebastianpopp
11   554964547  2015-02-19               followamuse.com
12   554952559  2015-02-19                 mobile.sanook
13   554953208  2015-02-19              iphone.adventure
14   554952911  2015-02-19         frontlinebathrooms.co
15   554957227  2015-02-19                  miaosoft.com
16   554971742  2015-02-19                    ftsafe.com
17   625998068  2015-02-19                gameplayinc.nl
18   626044564  2015-02-19          seidl-development.at
19   626092889  2015-02-19                   triposo.com
20   554979532  2015-02-19                   mcdapps.com
21   626042179  2015-02-19                   youtube.com
22   554967086  2015-02-19            birthdayboxapp.com
23   554981421  2015-02-19                   stmarys.org
24   554974128  2015-02-19                 secure-od.com
25   554965332  2015-02-19                     mycbt.net
26   554971755  2015-02-19               havaspeople.com
27   554977696  2015-02-19                 gamebox.lkwan
28   554969153  2015-02-19                     wolion.de
29   626129150  2015-02-19                  someones.com
..         ...         ...                           ...
232  625986922  2015-02-19                   goodsol.com
233  555257144  2015-02-19                motionsrace.se
234  555260686  2015-02-19                  facebook.com
235  555258559  2015-02-19           sussexenterprise.co
236  555260640  2015-02-19                 basiphone.net
237  555259885  2015-02-19                        svz.de
238  555260044  2015-02-19                  facebook.com
239  555258639  2015-02-19                     blog.sina
240  555263451  2015-02-19                  facebook.com
241  555259677  2015-02-19                  facebook.com
242  555261289  2015-02-19                     ehbook.co
243  555267563  2015-02-19           appspezialisten.com
244  555265373  2015-02-19                 gameforge.com
245  555260778  2015-02-19                     roic.quad
246  555267864  2015-02-19               gastroradio.com
247  555261861  2015-02-19                  facebook.com
248  555270702  2015-02-19                    zhooley.hu
249  555265819  2015-02-19                 gamebox.lkwan
250  626098858  2015-02-19                  fivedeer.com
251  555269766  2015-02-19        unitedacademymusic.com
252  625987268  2015-02-19                  mindobix.com
253  555263343  2015-02-19               webteamcorp.com
254  555264570  2015-02-19                   scriptum.nl
255  555270744  2015-02-19              kouyubaodian.net
256  555272782  2015-02-19                   blusped.com
257  626159460  2015-02-19                  auticiel.com
258  555272256  2015-02-19                    i-sera.com
259  555273442  2015-02-19                 sakhatech.com
260  626091823  2015-02-19                     katmin.de
261  626650995  2015-02-19               svtechgroup.com

[262 rows x 3 columns]

# NEWSUPPORTURL

In [10]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWSUPPORTURL(file_in,out_base,compress=1):
    headers = ['app_id','date','support_url']
    out_filename = out_base.format('NEWSUPPORTURL')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        http = re.compile(r"(http://)|(https://)")
        www = re.compile(r"^www\.")
        ending = re.compile(r"\.(a-z)(.*?)^")
        bad = re.compile(r"\.[a-z]+(.*?)$")
        for json in iter_json_gzip(file_in):
            website = json.get('supportUrl','')
            if isinstance(website,str):
                website = http.sub('',website).lower()
                website = www.sub('',website)
                website = website.split(r"/")[0]
                bad_str = bad.findall(website)
                if bad_str:
                    website = website.replace(bad_str[0],'')
                if running.get(json['app_id'],'')!=website and len(website)>0:
                    running[json['app_id']] = website
                    day = datetime.datetime.\
                    fromtimestamp(int(json['timestamp']))\
                            .strftime('%Y-%m-%d').strip()
                    obs = (json['app_id'],day,website)
                    csv_writer.writerow(obs)
    return out_filename

In [11]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSUPPORTURL(RAW_FILE_NEWDATA,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date               support_url
0    554951624  2015-02-19                 smc.seoul
1    554950974  2015-02-19                pauluz.com
2    554943499  2015-02-19              appstore.liv
3    554955624  2015-02-19            markspaeth.com
4    626127894  2015-02-19           rmadrid.onfocus
5    554948858  2015-02-19                   eon.com
6    626090799  2015-02-19               triposo.com
7    554964569  2015-02-19                zeberka.pl
8    554936718  2015-02-19               treelev.com
9    554946247  2015-02-19                 ambar.org
10   626048966  2015-02-19  laclassedelipad.blogspot
11   554961300  2015-02-19            pocketmags.com
12   554948898  2015-02-19            zentertain.net
13   554953108  2015-02-19     wireddevelopments.com
14   554948318  2015-02-19      childrenbibleapp.com
15   554949951  2015-02-19                gig-bar.at
16   626042451  2015-02-19             2billiard.com
17   554948564  2015-02-19              inetnose.com
18   554963269  2015-02-19                 5by25.com
19   554963282  2015-02-19                  palet.dk
20   554966672  2015-02-19          fashionphile.com
21   554953934  2015-02-19           siamsquared.com
22   554953433  2015-02-19                grupio.com
23   554945018  2015-02-19         seattleclouds.com
24   554949926  2015-02-19            r4h.tdsoftware
25   554950152  2015-02-19      childrenbibleapp.com
26   626097689  2015-02-19        ceosoftcenters.com
27   554951563  2015-02-19           smithandson.net
28   626097793  2015-02-19               exefire.com
29   554961305  2015-02-19    feedback.sebastianpopp
..         ...         ...                       ...
609  555268661  2015-02-19            cookieapp.mobi
610  626021856  2015-02-19                 alkex.com
611  555268423  2015-02-19             imaging.nikon
612  555267419  2015-02-19               quamnet.com
613  555261861  2015-02-19              facebook.com
614  555267808  2015-02-19   networkwestmidlands.com
615  555261999  2015-02-19        emstrack.paiyannoi
616  555261255  2015-02-19               neoopix.com
617  555270702  2015-02-19                zhooley.hu
618  555265819  2015-02-19             gamebox.lkwan
619  626098858  2015-02-19              fivedeer.com
620  555269766  2015-02-19    unitedacademymusic.com
621  555269661  2015-02-19                psdapps.gr
622  625987268  2015-02-19              mindobix.com
623  555263343  2015-02-19               shanesh.com
624  555269976  2015-02-19                mongo.mobi
625  555270681  2015-02-19              extentia.com
626  555264570  2015-02-19               scriptum.nl
627  555270744  2015-02-19          kouyubaodian.net
628  555272782  2015-02-19               blusped.com
629  626159460  2015-02-19              auticiel.com
630  555270991  2015-02-19        infiworks.blogspot
631  625982749  2015-02-19                  natio.it
632  555272256  2015-02-19                i-sera.com
633  555273880  2015-02-19             droidcorp.net
634  555268686  2015-02-19                howset.com
635  555272493  2015-02-19           whatifcycle.com
636  555273442  2015-02-19             sakhatech.com
637  626091823  2015-02-19                 katmin.de
638  626650995  2015-02-19           svtechgroup.com

[639 rows x 3 columns]

# NEWSIMILAR5

In [12]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWSIMILAR5(file_in,out_base,compress=1,number_similar = 5):
    headers = ['app_id','date']+ ['related{}'.format(x) \
                                  for x in range(1,number_similar+1)]
    out_filename = out_base.format('NEWSIMILAR{}'.format(number_similar))
    running = {}
    with gzip.open(out_filename,'wt',9) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            related = json.get('customersAlsoBoughtApps',[])
            if related:
                related = sorted(map(str, related[:number_similar]))
                joined = ",".join(related)
                if running.get(json['app_id'],'')!=joined:
                    running[json['app_id']] = joined
                    day = datetime.datetime.\
                    fromtimestamp(int(json['timestamp']))\
                            .strftime('%Y-%m-%d').strip()
                    csv_writer.writerow([json['app_id'],day]+ related)
    return out_filename

In [13]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSIMILAR5(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,related1,related2,related3,related4,related5
0,281656475,2010-09-06,284939601,284947616,353410847,363658120,364298872
1,281736535,2010-09-06,284939601,284947616,361536763,363658120,363998989
2,281861187,2010-09-06,284449213,286948844,293647966,340141710,364907966
3,281889893,2010-09-06,284947616,361536763,363592836,363658120,363998989
4,281893011,2010-09-06,284939601,284947616,361536763,363658120,363799703
5,281962101,2010-09-06,363205965,364763214,364883734,364894339,365149275
6,282737873,2010-09-06,287958963,289039914,363479668,364683781,364821057
7,282738621,2010-09-06,290008445,302498559,363507998,364733950,364904019
8,282750724,2010-09-06,284980812,289814055,294190055,312759829,363205965
9,282758413,2010-09-06,284947616,288720707,296083171,359914600,363448914
10,282764294,2010-09-06,284939601,337282661,363592836,363658120,363998989
11,282769257,2010-09-06,296083171,359914600,361304891,363448914,364153769
12,282778557,2010-09-06,289429962,296083171,361304891,361309726,363448914
13,282796383,2010-09-06,284980812,312759829,363205965,364438839,364894339
14,282841854,2010-09-06,284939601,284947616,363658120,363799703,364160328
15,282860910,2010-09-06,284438211,284944951,289559287,292224124,364142611
16,282914454,2010-09-06,284945109,354015291,354098826,361304891,363230518
17,282970593,2010-09-06,284945109,361304891,363230518,364365411,364747489
18,283035434,2010-09-06,325934225,335393788,339084742,364265462,364304764
19,283044356,2010-09-06,284043092,284449213,363505203,363742993,365652093
20,283076999,2010-09-06,284944951,307758975,363306776,363592836,363998989
21,283085700,2010-09-06,284406088,284449213,284533116,363448251,364721999
22,283179414,2010-09-06,284947616,361536763,362562850,363658120,364907966
23,283189656,2010-09-06,284449213,290021482,316317925,320516477,333203592
24,283250166,2010-09-06,284930451,338673815,349715369,359504534,364380003
25,283264331,2010-09-06,284438211,284449213,333203592,364368518,364422675
26,283267223,2010-09-06,363447057,364354021,364905535,365451270,365606367
27,283268086,2010-09-06,284449213,293647966,333203592,363306776,363592836
28,283281224,2010-09-06,325934225,335393788,339084742,363999272,364304764
29,283281946,2010-09-06,358207332,363590649,364049283,364586454,364867315
...,...,...,...,...,...,...,...
665,286191892,2010-09-06,294194645,296504109,300403629,302171459,352734655
666,286193562,2010-09-06,294194645,296504109,300403629,302171459,364733950
667,286194973,2010-09-06,294194645,296504109,300403629,302171459,314845375
668,286208729,2010-09-06,338673815,359504534,364260004,364364675,364380003
669,286209003,2010-09-06,286627793,293633014,301294780,301539878,304925021
670,286215117,2010-09-06,361309726,363448914,364183644,364252504,364617858
671,286216309,2010-09-06,291181390,332739336,362326858,363598148,364571433
672,286216507,2010-09-06,284938331,284945109,348792440,363371015,364747489
673,286223668,2010-09-06,284939601,284944951,303917165,333203592,363592836
674,286225896,2010-09-06,290311006,295453989,358207332,364049283,364586454
675,286226296,2010-09-06,297842740,314278061,331657060,364739528,364740856
676,286227959,2010-09-06,284980812,299216019,312759829,326754283,363205965
677,286228072,2010-09-06,287958963,289039914,300369917,347418999,364619441
678,286231974,2010-09-06,284452598,289008283,300403629,302171459,364879902
679,286234919,2010-09-06,287958963,289039914,295806778,301655973,364140848
680,286238759,2010-09-06,284533116,284938331,288419173,364614303,364854381
681,286261239,2010-09-06,304655618,361304891,363230518,364365411,364747489
682,286269540,2010-09-06,284452598,364030280,364733950,364881979,364904019
683,286287080,2010-09-06,360659928,363225984,363234160,363371015,367779315
684,286308326,2010-09-06,284043092,284449213,293647966,294328982,329981776
685,286313771,2010-09-06,284043092,284438211,284449213,286133546,333203592
686,286316832,2010-09-06,288419173,363623428,364151212,364906888,364907090
687,286317054,2010-09-06,284942719,288419173,363337072,364151212,364381191
688,286318894,2010-09-06,284939601,318779959,329466722,353410847,364298872
689,286320212,2010-09-06,284938331,284965983,286324911,299022481,309792203
690,286324911,2010-09-06,354015291,355424047,364738549,364887170,364898574
691,286331900,2010-09-06,284939601,284947616,318779959,353410847,364298872
692,286334143,2010-09-06,290311006,295453989,360692282,364586454,364628538
693,286347960,2010-09-06,325403123,331462840,347546771,348741481,363453936
694,286348301,2010-09-06,296083171,354098826,361285480,361304891,365541415

#NEWSIMILAR10

In [14]:
@require(NEWSIMILAR5)
def NEWSIMILAR10(RAW_FILE,OUT_BASE,COMPRESS_LEVEL):
    return NEWSIMILAR5(RAW_FILE,OUT_BASE,COMPRESS_LEVEL,10)

In [15]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSIMILAR10(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,related1,related2,related3,related4,related5,related6,related7,related8,related9,related10
0,281656475,2010-09-06,284939601,284947616,353410847,363658120,364298872,NaN,NaN,NaN,NaN,NaN
1,281736535,2010-09-06,284939601,284947616,361536763,363658120,363998989,NaN,NaN,NaN,NaN,NaN
2,281861187,2010-09-06,284449213,286948844,293647966,340141710,364907966,NaN,NaN,NaN,NaN,NaN
3,281889893,2010-09-06,284947616,361536763,363592836,363658120,363998989,NaN,NaN,NaN,NaN,NaN
4,281893011,2010-09-06,284939601,284947616,361536763,363658120,363799703,NaN,NaN,NaN,NaN,NaN
5,281962101,2010-09-06,363205965,364763214,364883734,364894339,365149275,NaN,NaN,NaN,NaN,NaN
6,282737873,2010-09-06,287958963,289039914,363479668,364683781,364821057,NaN,NaN,NaN,NaN,NaN
7,282738621,2010-09-06,290008445,302498559,363507998,364733950,364904019,NaN,NaN,NaN,NaN,NaN
8,282750724,2010-09-06,284980812,289814055,294190055,312759829,363205965,NaN,NaN,NaN,NaN,NaN
9,282758413,2010-09-06,284947616,288720707,296083171,359914600,363448914,NaN,NaN,NaN,NaN,NaN
10,282764294,2010-09-06,284939601,337282661,363592836,363658120,363998989,NaN,NaN,NaN,NaN,NaN
11,282769257,2010-09-06,296083171,359914600,361304891,363448914,364153769,NaN,NaN,NaN,NaN,NaN
12,282778557,2010-09-06,289429962,296083171,361304891,361309726,363448914,NaN,NaN,NaN,NaN,NaN
13,282796383,2010-09-06,284980812,312759829,363205965,364438839,364894339,NaN,NaN,NaN,NaN,NaN
14,282841854,2010-09-06,284939601,284947616,363658120,363799703,364160328,NaN,NaN,NaN,NaN,NaN
15,282860910,2010-09-06,284438211,284944951,289559287,292224124,364142611,NaN,NaN,NaN,NaN,NaN
16,282914454,2010-09-06,284945109,354015291,354098826,361304891,363230518,NaN,NaN,NaN,NaN,NaN
17,282970593,2010-09-06,284945109,361304891,363230518,364365411,364747489,NaN,NaN,NaN,NaN,NaN
18,283035434,2010-09-06,325934225,335393788,339084742,364265462,364304764,NaN,NaN,NaN,NaN,NaN
19,283044356,2010-09-06,284043092,284449213,363505203,363742993,365652093,NaN,NaN,NaN,NaN,NaN
20,283076999,2010-09-06,284944951,307758975,363306776,363592836,363998989,NaN,NaN,NaN,NaN,NaN
21,283085700,2010-09-06,284406088,284449213,284533116,363448251,364721999,NaN,NaN,NaN,NaN,NaN
22,283179414,2010-09-06,284947616,361536763,362562850,363658120,364907966,NaN,NaN,NaN,NaN,NaN
23,283189656,2010-09-06,284449213,290021482,316317925,320516477,333203592,NaN,NaN,NaN,NaN,NaN
24,283250166,2010-09-06,284930451,338673815,349715369,359504534,364380003,NaN,NaN,NaN,NaN,NaN
25,283264331,2010-09-06,284438211,284449213,333203592,364368518,364422675,NaN,NaN,NaN,NaN,NaN
26,283267223,2010-09-06,363447057,364354021,364905535,365451270,365606367,NaN,NaN,NaN,NaN,NaN
27,283268086,2010-09-06,284449213,293647966,333203592,363306776,363592836,NaN,NaN,NaN,NaN,NaN
28,283281224,2010-09-06,325934225,335393788,339084742,363999272,364304764,NaN,NaN,NaN,NaN,NaN
29,283281946,2010-09-06,358207332,363590649,364049283,364586454,364867315,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
665,286191892,2010-09-06,294194645,296504109,300403629,302171459,352734655,NaN,NaN,NaN,NaN,NaN
666,286193562,2010-09-06,294194645,296504109,300403629,302171459,364733950,NaN,NaN,NaN,NaN,NaN
667,286194973,2010-09-06,294194645,296504109,300403629,302171459,314845375,NaN,NaN,NaN,NaN,NaN
668,286208729,2010-09-06,338673815,359504534,364260004,364364675,364380003,NaN,NaN,NaN,NaN,NaN
669,286209003,2010-09-06,286627793,293633014,301294780,301539878,304925021,NaN,NaN,NaN,NaN,NaN
670,286215117,2010-09-06,361309726,363448914,364183644,364252504,364617858,NaN,NaN,NaN,NaN,NaN
671,286216309,2010-09-06,291181390,332739336,362326858,363598148,364571433,NaN,NaN,NaN,NaN,NaN
672,286216507,2010-09-06,284938331,284945109,348792440,363371015,364747489,NaN,NaN,NaN,NaN,NaN
673,286223668,2010-09-06,284939601,284944951,303917165,333203592,363592836,NaN,NaN,NaN,NaN,NaN
674,286225896,2010-09-06,290311006,295453989,358207332,364049283,364586454,NaN,NaN,NaN,NaN,NaN
675,286226296,2010-09-06,297842740,314278061,331657060,364739528,364740856,NaN,NaN,NaN,NaN,NaN
676,286227959,2010-09-06,284980812,299216019,312759829,326754283,363205965,NaN,NaN,NaN,NaN,NaN
677,286228072,2010-09-06,287958963,289039914,300369917,347418999,364619441,NaN,NaN,NaN,NaN,NaN
678,286231974,2010-09-06,284452598,289008283,300403629,302171459,364879902,NaN,NaN,NaN,NaN,NaN
679,286234919,2010-09-06,287958963,289039914,295806778,301655973,364140848,NaN,NaN,NaN,NaN,NaN
680,286238759,2010-09-06,284533116,284938331,288419173,364614303,364854381,NaN,NaN,NaN,NaN,NaN
681,286261239,2010-09-06,304655618,361304891,363230518,364365411,364747489,NaN,NaN,NaN,NaN,NaN
682,286269540,2010-09-06,284452598,364030280,364733950,364881979,364904019,NaN,NaN,NaN,NaN,NaN
683,286287080,2010-09-06,360659928,363225984,363234160,363371015,367779315,NaN,NaN,NaN,NaN,NaN
684,286308326,2010-09-06,284043092,284449213,293647966,294328982,329981776,NaN,NaN,NaN,NaN,NaN
685,286313771,2010-09-06,284043092,284438211,284449213,286133546,333203592,NaN,NaN,NaN,NaN,NaN
686,286316832,2010-09-06,288419173,363623428,364151212,364906888,364907090,NaN,NaN,NaN,NaN,NaN
687,286317054,2010-09-06,284942719,288419173,363337072,364151212,364381191,NaN,NaN,NaN,NaN,NaN
688,286318894,2010-09-06,284939601,318779959,329466722,353410847,364298872,NaN,NaN,NaN,NaN,NaN
689,286320212,2010-09-06,284938331,284965983,286324911,299022481,309792203,NaN,NaN,NaN,NaN,NaN
690,286324911,2010-09-06,354015291,355424047,364738549,364887170,364898574,NaN,NaN,NaN,NaN,NaN
691,286331900,2010-09-06,284939601,284947616,318779959,353410847,364298872,NaN,NaN,NaN,NaN,NaN
692,286334143,2010-09-06,290311006,295453989,360692282,364586454,364628538,NaN,NaN,NaN,NaN,NaN
693,286347960,2010-09-06,325403123,331462840,347546771,348741481,363453936,NaN,NaN,NaN,NaN,NaN
694,286348301,2010-09-06,296083171,354098826,361285480,361304891,365541415,NaN,NaN,NaN,NaN,NaN

# NEWSIMILAR15

In [16]:
@require(NEWSIMILAR5)
def NEWSIMILAR15(RAW_FILE,OUT_BASE,COMPRESS_LEVEL):
    return NEWSIMILAR5(RAW_FILE,OUT_BASE,COMPRESS_LEVEL,15)

In [17]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSIMILAR15(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,related1,related2,related3,related4,related5,related6,related7,related8,related9,related10,related11,related12,related13,related14,related15
0,281656475,2010-09-06,284939601,284947616,353410847,363658120,364298872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,281736535,2010-09-06,284939601,284947616,361536763,363658120,363998989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,281861187,2010-09-06,284449213,286948844,293647966,340141710,364907966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,281889893,2010-09-06,284947616,361536763,363592836,363658120,363998989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,281893011,2010-09-06,284939601,284947616,361536763,363658120,363799703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,281962101,2010-09-06,363205965,364763214,364883734,364894339,365149275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,282737873,2010-09-06,287958963,289039914,363479668,364683781,364821057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,282738621,2010-09-06,290008445,302498559,363507998,364733950,364904019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,282750724,2010-09-06,284980812,289814055,294190055,312759829,363205965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,282758413,2010-09-06,284947616,288720707,296083171,359914600,363448914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,282764294,2010-09-06,284939601,337282661,363592836,363658120,363998989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,282769257,2010-09-06,296083171,359914600,361304891,363448914,364153769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,282778557,2010-09-06,289429962,296083171,361304891,361309726,363448914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,282796383,2010-09-06,284980812,312759829,363205965,364438839,364894339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,282841854,2010-09-06,284939601,284947616,363658120,363799703,364160328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,282860910,2010-09-06,284438211,284944951,289559287,292224124,364142611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,282914454,2010-09-06,284945109,354015291,354098826,361304891,363230518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,282970593,2010-09-06,284945109,361304891,363230518,364365411,364747489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,283035434,2010-09-06,325934225,335393788,339084742,364265462,364304764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,283044356,2010-09-06,284043092,284449213,363505203,363742993,365652093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,283076999,2010-09-06,284944951,307758975,363306776,363592836,363998989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,283085700,2010-09-06,284406088,284449213,284533116,363448251,364721999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,283179414,2010-09-06,284947616,361536763,362562850,363658120,364907966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,283189656,2010-09-06,284449213,290021482,316317925,320516477,333203592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,283250166,2010-09-06,284930451,338673815,349715369,359504534,364380003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,283264331,2010-09-06,284438211,284449213,333203592,364368518,364422675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,283267223,2010-09-06,363447057,364354021,364905535,365451270,365606367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,283268086,2010-09-06,284449213,293647966,333203592,363306776,363592836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,283281224,2010-09-06,325934225,335393788,339084742,363999272,364304764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,283281946,2010-09-06,358207332,363590649,364049283,364586454,364867315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,286191892,2010-09-06,294194645,296504109,300403629,302171459,352734655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,286193562,2010-09-06,294194645,296504109,300403629,302171459,364733950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,286194973,2010-09-06,294194645,296504109,300403629,302171459,314845375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,286208729,2010-09-06,338673815,359504534,364260004,364364675,364380003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,286209003,2010-09-06,286627793,293633014,301294780,301539878,304925021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,286215117,2010-09-06,361309726,363448914,364183644,364252504,364617858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,286216309,2010-09-06,291181390,332739336,362326858,363598148,364571433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
672,286216507,2010-09-06,284938331,284945109,348792440,363371015,364747489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
673,286223668,2010-09-06,284939601,284944951,303917165,333203592,363592836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
674,286225896,2010-09-06,290311006,295453989,358207332,364049283,364586454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,286226296,2010-09-06,297842740,314278061,331657060,364739528,364740856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
676,286227959,2010-09-06,284980812,299216019,312759829,326754283,363205965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,286228072,2010-09-06,287958963,289039914,300369917,347418999,364619441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,286231974,2010-09-06,284452598,289008283,300403629,302171459,364879902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
679,286234919,2010-09-06,287958963,289039914,295806778,301655973,364140848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,286238759,2010-09-06,284533116,284938331,288419173,364614303,364854381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681,286261239,2010-09-06,304655618,361304891,363230518,364365411,364747489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
682,286269540,2010-09-06,284452598,364030280,364733950,364881979,364904019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683,286287080,2010-09-06,360659928,363225984,363234160,363371015,367779315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,286308326,2010-09-06,284043092,284449213,293647966,294328982,329981776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,286313771,2010-09-06,284043092,284438211,284449213,286133546,333203592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,286316832,2010-09-06,288419173,363623428,364151212,364906888,364907090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687,286317054,2010-09-06,284942719,288419173,363337072,364151212,364381191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688,286318894,2010-09-06,284939601,318779959,329466722,353410847,364298872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689,286320212,2010-09-06,284938331,284965983,286324911,299022481,309792203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,286324911,2010-09-06,354015291,355424047,364738549,364887170,364898574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,286331900,2010-09-06,284939601,284947616,318779959,353410847,364298872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,286334143,2010-09-06,290311006,295453989,360692282,364586454,364628538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,286347960,2010-09-06,325403123,331462840,347546771,348741481,363453936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,286348301,2010-09-06,296083171,354098826,361285480,361304891,365541415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# DAILYRATINGS

In [18]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def DAILYRATINGS(file_in,out_base,compress=1):
    headers = ['app_id','date','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('DAILYRATINGS')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',9) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            day = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                                .strftime('%Y-%m-%d')
            rating = json.get('ratingCountList',None)
            if rating:
                obs = (json['app_id'],day,tuple(rating),)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],day]+rating)
    return out_filename

In [19]:
df_debug = None
if DEBUG:
    df_debug = read_csv(DAILYRATINGS(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date  rating5  rating4  rating3  rating2  rating1
0    281656475  2010-09-06      725      381      592      594     2099
1    281704574  2010-09-06    74643    33583    62135    59975   193223
2    281736535  2010-09-06     4116     3426     6104     6230    11533
3    281790044  2010-09-06    15693    10780     9632     4290     6877
4    281796108  2010-09-06    12044     7815     9851     7073    11630
5    281816692  2010-09-06     3125     2558     3050     1923     2771
6    281826146  2010-09-06     2657      665      764      599     1384
7    281861187  2010-09-06       18       13       20       21       35
8    281889893  2010-09-06      430      310      427      270      732
9    281893011  2010-09-06      959     1118     2010     1827     2391
10   281913144  2010-09-06    19944    12082    18934    13325    25800
11   281940292  2010-09-06    16855    17223    33773    28846    32368
12   281941097  2010-09-06     4286     3393     7516     9440    15621
13   281944480  2010-09-06      974      289      310      213      386
14   281952554  2010-09-06    37503    19822    23518    13002    22061
15   281969989  2010-09-06     9082     7583    15889    18368    33119
16   282614216  2010-09-06    18165    10568    24075    26577    66180
17   282737873  2010-09-06       26       17       17       11       17
18   282738621  2010-09-06       12       17       28       33       39
19   282764294  2010-09-06      184      134      245      216      494
20   282769257  2010-09-06      310      251      466      497      410
21   282778557  2010-09-06     1016      710     1381     1927     2943
22   282860910  2010-09-06      194       52       30       12       31
23   282935706  2010-09-06    12678     6863    11929    12946    60570
24   282970593  2010-09-06      162      109       94       86      116
25   283035434  2010-09-06      334      159      168      141      174
26   283044356  2010-09-06        9       12       14        8       12
27   283076999  2010-09-06       62       66      179      131      203
28   283179414  2010-09-06      386      303      461      625     1813
29   283264331  2010-09-06       18       15        5        3       12
..         ...         ...      ...      ...      ...      ...      ...
524  286136632  2010-09-06      873      856     1941     1752     2904
525  286208729  2010-09-06      137       74      145      176      540
526  286209003  2010-09-06       47       31       21       10       25
527  286215117  2010-09-06      134      100      222      291      704
528  286216309  2010-09-06       30       19       27       10       21
529  286223668  2010-09-06      371      208      221      119      228
530  286225718  2010-09-06     1798     1484     2604     1899     2465
531  286225896  2010-09-06       57       31       31       21       19
532  286225933  2010-09-06      408      120      106      110      431
533  286226296  2010-09-06      128       50       35       19       40
534  286231974  2010-09-06       10        5        5        5        8
535  286236286  2010-09-06      159      121      146       90       78
536  286243728  2010-09-06      149       79      100       79      200
537  286247235  2010-09-06    14317    11299    14024     7796    14757
538  286261176  2010-09-06       20       18       43       35       82
539  286261239  2010-09-06       90       11       30       26       70
540  286262858  2010-09-06       67       41       92      103      209
541  286264159  2010-09-06        9        6        3        0        5
542  286269540  2010-09-06       38       34       56       63       73
543  286274367  2010-09-06    27441    11993    15556    10312    24130
544  286277583  2010-09-06      147       32       34       21       43
545  286308326  2010-09-06       10        4        8        5       12
546  286310196  2010-09-06      196       81       71       42       90
547  286313771  2010-09-06       10        7        5        8        4
548  286316832  2010-09-06       30       17       29       17       36
549  286317054  2010-09-06       10       10       12       16       25
550  286318894  2010-09-06       30       27       32       15       26
551  286323755  2010-09-06      472      309      379      247      295
552  286324911  2010-09-06       93       24       23        6       19
553  286348301  2010-09-06       66       54       76       58       75

[554 rows x 7 columns]

# DAILYRATINGSCURRENT

In [20]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def DAILYRATINGSCURRENT(file_in,out_base,compress=1):
    headers = ['app_id','date','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('DAILYRATINGSCURRENT')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            day = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                                .strftime('%Y-%m-%d')
            rating = json.get('ratingCountList_current',None)
            if rating:
                obs = (json['app_id'],day,tuple(rating),)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],day]+rating)
    return out_filename

In [21]:
# Will be empty because this variable wasn't scraped for the first couple million observations
df_debug = None
if DEBUG:
    df_debug = read_csv(DAILYRATINGSCURRENT(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date  rating5  rating4  rating3  rating2  rating1
0    281656475  2010-09-06      136       82      116      139      434
1    281704574  2010-09-06      643      227      419      445     2088
2    281736535  2010-09-06       68       50       93      102      235
3    281790044  2010-09-06       84       41       63       42       76
4    281796108  2010-09-06       47       26       31       25       55
5    281816692  2010-09-06       38       22       45       41       62
6    281826146  2010-09-06      125       36       23       29       61
7    281861187  2010-09-06        2        0        4        6        5
8    281889893  2010-09-06       32        5       14        6       38
9    281893011  2010-09-06        5        3        7        5       16
10   281913144  2010-09-06     2194      987     1374      997     2627
11   281935788  2010-09-06    11794     4290     5957        4        4
12   281940292  2010-09-06      156      136      177      174      301
13   281941097  2010-09-06       31       22       64      111      200
14   281944480  2010-09-06      259       86       82       52      102
15   281952554  2010-09-06      110       28       28       22       81
16   281962101  2010-09-06       16        5       10       11       18
17   281969989  2010-09-06      322      214      335      381      909
18   282614216  2010-09-06      293      161      362      513     1404
19   282737873  2010-09-06       25       15       17       11       15
20   282738621  2010-09-06        3       12       15       18       21
21   282750724  2010-09-06      135       56       85       45       66
22   282758413  2010-09-06      317      263      330      206      271
23   282764294  2010-09-06       98       63      132      106      248
24   282769257  2010-09-06       32       30       53       60       84
25   282778557  2010-09-06      207       96      167      344      672
26   282796383  2010-09-06       63       47       49       27       54
27   282841854  2010-09-06       53       15       31       36       71
28   282860910  2010-09-06       79       18       10        3       12
29   282914454  2010-09-06       41       29        0        0        5
..         ...         ...      ...      ...      ...      ...      ...
840  286225933  2010-09-06       31        7        3        7       29
841  286226296  2010-09-06       15       14       17        9       19
842  286228072  2010-09-06       28       17       39       39       77
843  286231974  2010-09-06        9        5        4        3        7
844  286234919  2010-09-06       14        4        3        2       10
845  286236286  2010-09-06      154      118      143       83       68
846  286243728  2010-09-06       37       15       25       23       50
847  286247235  2010-09-06     1072      666      750      485     1363
848  286261176  2010-09-06       19       11       30       24       63
849  286261239  2010-09-06        7        0        3        4        8
850  286262858  2010-09-06        2        2        2        3        5
851  286264159  2010-09-06        7        5        3        0        5
852  286269540  2010-09-06       12        7       10       20       31
853  286274367  2010-09-06      335      128      151      165      739
854  286277583  2010-09-06       76       13       20       15       24
855  286287080  2010-09-06        8        9        5       11       20
856  286303930  2010-09-06      746      497      634      437      951
857  286308326  2010-09-06        5        2        4        3        4
858  286310196  2010-09-06      193       80       69       40       89
859  286313771  2010-09-06        5        2        2        5        0
860  286316832  2010-09-06        7        7        6        5       13
861  286317054  2010-09-06        4        3        2        8        9
862  286318894  2010-09-06       14       11       19       10       12
863  286322239  2010-09-06        5        5        3        3        4
864  286323755  2010-09-06      319      157      227      148      194
865  286324911  2010-09-06       17        6        5        2        5
866  286331900  2010-09-06      372        0        0        5       16
867  286334143  2010-09-06       33       17       28        6       47
868  286347960  2010-09-06        8        5       17       14       38
869  286348301  2010-09-06       56       50       74       52       71

[870 rows x 7 columns]

# WEEKLYRATINGS

In [22]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def WEEKLYRATINGS(file_in,out_base,compress=1):
    headers = ['app_id','year','week','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('WEEKLYRATINGS')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',9) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            year,week = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                                .isocalendar()[:2]
            rating = json.get('ratingCountList',None)
            if rating:
                obs = (json['app_id'],year,week)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],year,week]+rating)
    return out_filename

In [23]:
df_debug = None
if DEBUG:
    df_debug = read_csv(WEEKLYRATINGS(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id  year  week  rating5  rating4  rating3  rating2  rating1
0    281656475  2010    36      725      381      592      594     2099
1    281704574  2010    36    74643    33583    62135    59975   193223
2    281736535  2010    36     4116     3426     6104     6230    11533
3    281790044  2010    36    15693    10780     9632     4290     6877
4    281796108  2010    36    12044     7815     9851     7073    11630
5    281816692  2010    36     3125     2558     3050     1923     2771
6    281826146  2010    36     2657      665      764      599     1384
7    281861187  2010    36       18       13       20       21       35
8    281889893  2010    36      430      310      427      270      732
9    281893011  2010    36      959     1118     2010     1827     2391
10   281913144  2010    36    19944    12082    18934    13325    25800
11   281940292  2010    36    16855    17223    33773    28846    32368
12   281941097  2010    36     4286     3393     7516     9440    15621
13   281944480  2010    36      974      289      310      213      386
14   281952554  2010    36    37503    19822    23518    13002    22061
15   281969989  2010    36     9082     7583    15889    18368    33119
16   282614216  2010    36    18165    10568    24075    26577    66180
17   282737873  2010    36       26       17       17       11       17
18   282738621  2010    36       12       17       28       33       39
19   282764294  2010    36      184      134      245      216      494
20   282769257  2010    36      310      251      466      497      410
21   282778557  2010    36     1016      710     1381     1927     2943
22   282860910  2010    36      194       52       30       12       31
23   282935706  2010    36    12678     6863    11929    12946    60570
24   282970593  2010    36      162      109       94       86      116
25   283035434  2010    36      334      159      168      141      174
26   283044356  2010    36        9       12       14        8       12
27   283076999  2010    36       62       66      179      131      203
28   283179414  2010    36      386      303      461      625     1813
29   283264331  2010    36       18       15        5        3       12
..         ...   ...   ...      ...      ...      ...      ...      ...
524  286136632  2010    36      873      856     1941     1752     2904
525  286208729  2010    36      137       74      145      176      540
526  286209003  2010    36       47       31       21       10       25
527  286215117  2010    36      134      100      222      291      704
528  286216309  2010    36       30       19       27       10       21
529  286223668  2010    36      371      208      221      119      228
530  286225718  2010    36     1798     1484     2604     1899     2465
531  286225896  2010    36       57       31       31       21       19
532  286225933  2010    36      408      120      106      110      431
533  286226296  2010    36      128       50       35       19       40
534  286231974  2010    36       10        5        5        5        8
535  286236286  2010    36      159      121      146       90       78
536  286243728  2010    36      149       79      100       79      200
537  286247235  2010    36    14317    11299    14024     7796    14757
538  286261176  2010    36       20       18       43       35       82
539  286261239  2010    36       90       11       30       26       70
540  286262858  2010    36       67       41       92      103      209
541  286264159  2010    36        9        6        3        0        5
542  286269540  2010    36       38       34       56       63       73
543  286274367  2010    36    27441    11993    15556    10312    24130
544  286277583  2010    36      147       32       34       21       43
545  286308326  2010    36       10        4        8        5       12
546  286310196  2010    36      196       81       71       42       90
547  286313771  2010    36       10        7        5        8        4
548  286316832  2010    36       30       17       29       17       36
549  286317054  2010    36       10       10       12       16       25
550  286318894  2010    36       30       27       32       15       26
551  286323755  2010    36      472      309      379      247      295
552  286324911  2010    36       93       24       23        6       19
553  286348301  2010    36       66       54       76       58       75

[554 rows x 8 columns]

# WEEKLYRATINGSCURRENT

In [24]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def WEEKLYRATINGSCURRENT(file_in,out_base,compress=1):
    headers = ['app_id','year','week','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('WEEKLYRATINGSCURRENT')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            year,week = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                                .isocalendar()[:2]
            rating = json.get('ratingCountList_current',None)
            if rating:
                obs = (json['app_id'],year,week)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],year,week]+rating)
    return out_filename

In [25]:
df_debug = None
if DEBUG:
    df_debug = read_csv(WEEKLYRATINGSCURRENT(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id  year  week  rating5  rating4  rating3  rating2  rating1
0    281656475  2010    36      136       82      116      139      434
1    281704574  2010    36      643      227      419      445     2088
2    281736535  2010    36       68       50       93      102      235
3    281790044  2010    36       84       41       63       42       76
4    281796108  2010    36       47       26       31       25       55
5    281816692  2010    36       38       22       45       41       62
6    281826146  2010    36      125       36       23       29       61
7    281861187  2010    36        2        0        4        6        5
8    281889893  2010    36       32        5       14        6       38
9    281893011  2010    36        5        3        7        5       16
10   281913144  2010    36     2194      987     1374      997     2627
11   281935788  2010    36    11794     4290     5957        4        4
12   281940292  2010    36      156      136      177      174      301
13   281941097  2010    36       31       22       64      111      200
14   281944480  2010    36      259       86       82       52      102
15   281952554  2010    36      110       28       28       22       81
16   281962101  2010    36       16        5       10       11       18
17   281969989  2010    36      322      214      335      381      909
18   282614216  2010    36      293      161      362      513     1404
19   282737873  2010    36       25       15       17       11       15
20   282738621  2010    36        3       12       15       18       21
21   282750724  2010    36      135       56       85       45       66
22   282758413  2010    36      317      263      330      206      271
23   282764294  2010    36       98       63      132      106      248
24   282769257  2010    36       32       30       53       60       84
25   282778557  2010    36      207       96      167      344      672
26   282796383  2010    36       63       47       49       27       54
27   282841854  2010    36       53       15       31       36       71
28   282860910  2010    36       79       18       10        3       12
29   282914454  2010    36       41       29        0        0        5
..         ...   ...   ...      ...      ...      ...      ...      ...
840  286225933  2010    36       31        7        3        7       29
841  286226296  2010    36       15       14       17        9       19
842  286228072  2010    36       28       17       39       39       77
843  286231974  2010    36        9        5        4        3        7
844  286234919  2010    36       14        4        3        2       10
845  286236286  2010    36      154      118      143       83       68
846  286243728  2010    36       37       15       25       23       50
847  286247235  2010    36     1072      666      750      485     1363
848  286261176  2010    36       19       11       30       24       63
849  286261239  2010    36        7        0        3        4        8
850  286262858  2010    36        2        2        2        3        5
851  286264159  2010    36        7        5        3        0        5
852  286269540  2010    36       12        7       10       20       31
853  286274367  2010    36      335      128      151      165      739
854  286277583  2010    36       76       13       20       15       24
855  286287080  2010    36        8        9        5       11       20
856  286303930  2010    36      746      497      634      437      951
857  286308326  2010    36        5        2        4        3        4
858  286310196  2010    36      193       80       69       40       89
859  286313771  2010    36        5        2        2        5        0
860  286316832  2010    36        7        7        6        5       13
861  286317054  2010    36        4        3        2        8        9
862  286318894  2010    36       14       11       19       10       12
863  286322239  2010    36        5        5        3        3        4
864  286323755  2010    36      319      157      227      148      194
865  286324911  2010    36       17        6        5        2        5
866  286331900  2010    36      372        0        0        5       16
867  286334143  2010    36       33       17       28        6       47
868  286347960  2010    36        8        5       17       14       38
869  286348301  2010    36       56       50       74       52       71

[870 rows x 8 columns]

# MONTHLYRATINGS

In [26]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def MONTHLYRATINGS(file_in,out_base,compress=1):
    headers = ['app_id','year','month','rating5','rating4','rating3','rating2','rating1']
    out_filename = out_base.format('MONTHLYRATINGS')
    unique_daily_rating = set()
    with gzip.open(out_filename,'wt',9) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            dateobj = datetime.datetime.fromtimestamp(int(json['timestamp']))
            year,month = dateobj.year,dateobj.month
            rating = json.get('ratingCountList',None)
            if rating:
                obs = (json['app_id'],year,month)
                if hash(obs) not in unique_daily_rating:
                    unique_daily_rating.add(hash(obs))
                    csv_writer.writerow([json['app_id'],year,month]+rating)
    return out_filename

In [27]:
df_debug = None
if DEBUG:
    df_debug = read_csv(MONTHLYRATINGS(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id  year  month  rating5  rating4  rating3  rating2  rating1
0    281656475  2010      9      725      381      592      594     2099
1    281704574  2010      9    74643    33583    62135    59975   193223
2    281736535  2010      9     4116     3426     6104     6230    11533
3    281790044  2010      9    15693    10780     9632     4290     6877
4    281796108  2010      9    12044     7815     9851     7073    11630
5    281816692  2010      9     3125     2558     3050     1923     2771
6    281826146  2010      9     2657      665      764      599     1384
7    281861187  2010      9       18       13       20       21       35
8    281889893  2010      9      430      310      427      270      732
9    281893011  2010      9      959     1118     2010     1827     2391
10   281913144  2010      9    19944    12082    18934    13325    25800
11   281940292  2010      9    16855    17223    33773    28846    32368
12   281941097  2010      9     4286     3393     7516     9440    15621
13   281944480  2010      9      974      289      310      213      386
14   281952554  2010      9    37503    19822    23518    13002    22061
15   281969989  2010      9     9082     7583    15889    18368    33119
16   282614216  2010      9    18165    10568    24075    26577    66180
17   282737873  2010      9       26       17       17       11       17
18   282738621  2010      9       12       17       28       33       39
19   282764294  2010      9      184      134      245      216      494
20   282769257  2010      9      310      251      466      497      410
21   282778557  2010      9     1016      710     1381     1927     2943
22   282860910  2010      9      194       52       30       12       31
23   282935706  2010      9    12678     6863    11929    12946    60570
24   282970593  2010      9      162      109       94       86      116
25   283035434  2010      9      334      159      168      141      174
26   283044356  2010      9        9       12       14        8       12
27   283076999  2010      9       62       66      179      131      203
28   283179414  2010      9      386      303      461      625     1813
29   283264331  2010      9       18       15        5        3       12
..         ...   ...    ...      ...      ...      ...      ...      ...
524  286136632  2010      9      873      856     1941     1752     2904
525  286208729  2010      9      137       74      145      176      540
526  286209003  2010      9       47       31       21       10       25
527  286215117  2010      9      134      100      222      291      704
528  286216309  2010      9       30       19       27       10       21
529  286223668  2010      9      371      208      221      119      228
530  286225718  2010      9     1798     1484     2604     1899     2465
531  286225896  2010      9       57       31       31       21       19
532  286225933  2010      9      408      120      106      110      431
533  286226296  2010      9      128       50       35       19       40
534  286231974  2010      9       10        5        5        5        8
535  286236286  2010      9      159      121      146       90       78
536  286243728  2010      9      149       79      100       79      200
537  286247235  2010      9    14317    11299    14024     7796    14757
538  286261176  2010      9       20       18       43       35       82
539  286261239  2010      9       90       11       30       26       70
540  286262858  2010      9       67       41       92      103      209
541  286264159  2010      9        9        6        3        0        5
542  286269540  2010      9       38       34       56       63       73
543  286274367  2010      9    27441    11993    15556    10312    24130
544  286277583  2010      9      147       32       34       21       43
545  286308326  2010      9       10        4        8        5       12
546  286310196  2010      9      196       81       71       42       90
547  286313771  2010      9       10        7        5        8        4
548  286316832  2010      9       30       17       29       17       36
549  286317054  2010      9       10       10       12       16       25
550  286318894  2010      9       30       27       32       15       26
551  286323755  2010      9      472      309      379      247      295
552  286324911  2010      9       93       24       23        6       19
553  286348301  2010      9       66       54       76       58       75

[554 rows x 8 columns]

# NEWDEVELOPER

In [28]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWDEVELOPER(file_in,out_base,compress=1):
    headers = ['app_id','date','dev_id']
    out_filename = out_base.format('NEWDEVELOPER')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            developer = str(json.get('artist_id',''))
            developer = developer.strip()
            if running.get(json['app_id'],'')!=developer \
                        and len(developer)>0 \
                        and developer.isdigit():
                running[json['app_id']] = developer
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                obs = (json['app_id'],day,developer)
                csv_writer.writerow(obs)
    return out_filename

In [29]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWDEVELOPER(RAW_FILE_NEWDATA,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date     dev_id
0    554951624  2015-02-19  444447999
1    554950974  2015-02-19  554950977
2    554943499  2015-02-19  497327246
3    554955624  2015-02-19  865392107
4    626127894  2015-02-19  502370580
5    554948858  2015-02-19  419138166
6    626090799  2015-02-19  415611465
7    554964569  2015-02-19  554964572
8    554936718  2015-02-19  432324275
9    554946247  2015-02-19  367064753
10   626048966  2015-02-19  572341956
11   554961300  2015-02-19  373521339
12   554948898  2015-02-19  371114041
13   554953108  2015-02-19  296614440
14   554948318  2015-02-19  483383775
15   554949951  2015-02-19  554949954
16   626042451  2015-02-19  368538565
17   554948564  2015-02-19  391441787
18   554963269  2015-02-19  373952509
19   554963282  2015-02-19  554963285
20   554966672  2015-02-19  554966675
21   554953934  2015-02-19  333207356
22   554953433  2015-02-19  363950413
23   554945018  2015-02-19  524929483
24   554949926  2015-02-19  490103173
25   554950152  2015-02-19  483383775
26   626097689  2015-02-19  333247701
27   554951563  2015-02-19  473693415
28   626097793  2015-02-19  566643348
29   554961305  2015-02-19  733088674
..         ...         ...        ...
609  555268661  2015-02-19  534176050
610  626021856  2015-02-19  428816407
611  555268423  2015-02-19  299293370
612  555267419  2015-02-19  406471194
613  555261861  2015-02-19  447370352
614  555267808  2015-02-19  494592085
615  555261999  2015-02-19  477250753
616  555261255  2015-02-19  527842902
617  555270702  2015-02-19  323137101
618  555265819  2015-02-19  521680634
619  626098858  2015-02-19  295474481
620  555269766  2015-02-19  498484006
621  555269661  2015-02-19  471642950
622  625987268  2015-02-19  528522155
623  555263343  2015-02-19  453860861
624  555269976  2015-02-19  555269979
625  555270681  2015-02-19  310157972
626  555264570  2015-02-19  399375445
627  555270744  2015-02-19  501279471
628  555272782  2015-02-19  391967887
629  626159460  2015-02-19  495565739
630  555270991  2015-02-19  329413699
631  625982749  2015-02-19  352843380
632  555272256  2015-02-19  945293742
633  555273880  2015-02-19  483881207
634  555268686  2015-02-19  441905570
635  555272493  2015-02-19  555272496
636  555273442  2015-02-19  377837903
637  626091823  2015-02-19  434182382
638  626650995  2015-02-19  862959672

[639 rows x 3 columns]

# NEWCATEGORY

In [30]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWCATEGORY(file_in,out_base,compress=1):
    headers = ['app_id','date']+ ['category{}'.format(x) \
                                  for x in range(1,5)]
    out_filename = out_base.format('NEWCATEGORY')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            category = json.get('categories',[])[:4]
            joined = ",".join(category)
            if running.get(json['app_id'],'')!=joined:
                running[json['app_id']] = joined
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                csv_writer.writerow([json['app_id'],day]+ category)
    return out_filename

In [31]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWCATEGORY(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,category1,category2,category3,category4
0,281656475,2010-09-06,Games,NaN,NaN,NaN
1,281704574,2010-09-06,Social Networking,NaN,NaN,NaN
2,281736535,2010-09-06,Games,NaN,NaN,NaN
3,281790044,2010-09-06,Navigation,NaN,NaN,NaN
4,281796108,2010-09-06,Productivity,NaN,NaN,NaN
5,281816692,2010-09-06,Weather,NaN,NaN,NaN
6,281826146,2010-09-06,Business,NaN,NaN,NaN
7,281861187,2010-09-06,Games,NaN,NaN,NaN
8,281889893,2010-09-06,Games,NaN,NaN,NaN
9,281893011,2010-09-06,Games,NaN,NaN,NaN
10,281913144,2010-09-06,Music,NaN,NaN,NaN
11,281935788,2010-09-06,Medical,NaN,NaN,NaN
12,281940292,2010-09-06,Weather,NaN,NaN,NaN
13,281941097,2010-09-06,Finance,NaN,NaN,NaN
14,281944480,2010-09-06,Social Networking,NaN,NaN,NaN
15,281952554,2010-09-06,Social Networking,NaN,NaN,NaN
16,281962101,2010-09-06,Travel,NaN,NaN,NaN
17,281969989,2010-09-06,Sports,NaN,NaN,NaN
18,282614216,2010-09-06,Lifestyle,NaN,NaN,NaN
19,282737873,2010-09-06,Healthcare & Fitness,NaN,NaN,NaN
20,282738621,2010-09-06,Education,NaN,NaN,NaN
21,282750724,2010-09-06,Navigation,NaN,NaN,NaN
22,282758413,2010-09-06,Utilities,NaN,NaN,NaN
23,282764294,2010-09-06,Games,NaN,NaN,NaN
24,282769257,2010-09-06,Utilities,NaN,NaN,NaN
25,282778557,2010-09-06,Productivity,NaN,NaN,NaN
26,282796383,2010-09-06,Navigation,NaN,NaN,NaN
27,282841854,2010-09-06,Games,NaN,NaN,NaN
28,282860910,2010-09-06,Games,NaN,NaN,NaN
29,282914454,2010-09-06,Travel,NaN,NaN,NaN
...,...,...,...,...,...,...
971,286228072,2010-09-06,Healthcare & Fitness,NaN,NaN,NaN
972,286231974,2010-09-06,Reference,NaN,NaN,NaN
973,286234919,2010-09-06,Healthcare & Fitness,NaN,NaN,NaN
974,286236286,2010-09-06,Healthcare & Fitness,NaN,NaN,NaN
975,286238759,2010-09-06,Utilities,NaN,NaN,NaN
976,286243728,2010-09-06,Reference,NaN,NaN,NaN
977,286247235,2010-09-06,Productivity,NaN,NaN,NaN
978,286261176,2010-09-06,Education,NaN,NaN,NaN
979,286261239,2010-09-06,Productivity,NaN,NaN,NaN
980,286262858,2010-09-06,Weather,NaN,NaN,NaN
981,286264159,2010-09-06,Education,NaN,NaN,NaN
982,286269540,2010-09-06,Reference,NaN,NaN,NaN
983,286274367,2010-09-06,Social Networking,NaN,NaN,NaN
984,286277583,2010-09-06,Business,NaN,NaN,NaN
985,286287080,2010-09-06,Productivity,NaN,NaN,NaN
986,286303930,2010-09-06,Healthcare & Fitness,NaN,NaN,NaN
987,286308326,2010-09-06,Games,NaN,NaN,NaN
988,286310196,2010-09-06,Lifestyle,NaN,NaN,NaN
989,286313771,2010-09-06,Games,NaN,NaN,NaN
990,286316832,2010-09-06,Lifestyle,NaN,NaN,NaN
991,286317054,2010-09-06,Lifestyle,NaN,NaN,NaN
992,286318894,2010-09-06,Games,NaN,NaN,NaN
993,286320212,2010-09-06,Business,NaN,NaN,NaN
994,286322239,2010-09-06,Utilities,NaN,NaN,NaN
995,286323755,2010-09-06,Utilities,NaN,NaN,NaN
996,286324911,2010-09-06,Productivity,NaN,NaN,NaN
997,286331900,2010-09-06,Games,NaN,NaN,NaN
998,286334143,2010-09-06,Entertainment,NaN,NaN,NaN
999,286347960,2010-09-06,Education,NaN,NaN,NaN
1000,286348301,2010-09-06,Business,NaN,NaN,NaN

# NEWPRICE

In [32]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWPRICE(file_in,out_base,compress=1):
    headers = ['app_id','date','price']
    out_filename = out_base.format('NEWPRICE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            price = str(json.get('price','')).replace("$","")
            if running.get(json['app_id'],'')!=price:
                running[json['app_id']] = price
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                obs = (json['app_id'],day,price)
                csv_writer.writerow(obs) 
    return out_filename

In [33]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWPRICE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date  price
0     281656475  2010-09-06   0.99
1     281704574  2010-09-06   0.00
2     281736535  2010-09-06   2.99
3     281790044  2010-09-06   0.00
4     281796108  2010-09-06   0.00
5     281816692  2010-09-06   0.00
6     281826146  2010-09-06   0.00
7     281861187  2010-09-06   1.99
8     281889893  2010-09-06   7.99
9     281893011  2010-09-06   7.99
10    281913144  2010-09-06   0.00
11    281935788  2010-09-06   0.00
12    281940292  2010-09-06   0.00
13    281941097  2010-09-06   0.00
14    281944480  2010-09-06   0.00
15    281952554  2010-09-06   0.00
16    281962101  2010-09-06   4.99
17    281969989  2010-09-06   0.00
18    282614216  2010-09-06   0.00
19    282737873  2010-09-06   0.99
20    282738621  2010-09-06   1.99
21    282750724  2010-09-06   0.99
22    282758413  2010-09-06   0.99
23    282764294  2010-09-06   0.99
24    282769257  2010-09-06   0.99
25    282778557  2010-09-06   4.99
26    282796383  2010-09-06   2.99
27    282841854  2010-09-06   1.99
28    282860910  2010-09-06   2.99
29    282914454  2010-09-06   0.99
...         ...         ...    ...
971   286228072  2010-09-06   0.99
972   286231974  2010-09-06   4.99
973   286234919  2010-09-06   1.99
974   286236286  2010-09-06   0.00
975   286238759  2010-09-06   2.99
976   286243728  2010-09-06   0.00
977   286247235  2010-09-06   0.00
978   286261176  2010-09-06   2.99
979   286261239  2010-09-06   4.99
980   286262858  2010-09-06   0.00
981   286264159  2010-09-06   3.99
982   286269540  2010-09-06   3.99
983   286274367  2010-09-06   0.00
984   286277583  2010-09-06   0.00
985   286287080  2010-09-06   5.99
986   286303930  2010-09-06   0.00
987   286308326  2010-09-06   0.99
988   286310196  2010-09-06   0.00
989   286313771  2010-09-06   0.99
990   286316832  2010-09-06   0.99
991   286317054  2010-09-06   0.99
992   286318894  2010-09-06   0.99
993   286320212  2010-09-06   3.99
994   286322239  2010-09-06   0.99
995   286323755  2010-09-06   0.00
996   286324911  2010-09-06   0.99
997   286331900  2010-09-06   1.99
998   286334143  2010-09-06   0.99
999   286347960  2010-09-06   0.99
1000  286348301  2010-09-06   0.99

[1001 rows x 3 columns]

# ALLVERSIONS

In [34]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def ALLVERSIONS(file_in,out_base,compress=1):
    headers = ['app_id','date','version_string',\
#                'release_notes'\
              ]
    out_filename = out_base.format('ALLVERSIONS')
    unique_ver = set()
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            for each_version in json.get('version',[]):
                # need extra code because Apple changed format
                if 'release-date' in each_version:
                    date = each_version.get('release-date','')
                    date = datetime.datetime.strptime(date,'%b %d, %Y')
                    date = date.strftime('%Y-%m-%d')
                    version_string = each_version.get('version-string','')
                    release_notes = each_version.get('release-notes','')
                elif 'releaseDate' in each_version:
                    date = each_version.get('releaseDate','')
                    date = datetime.datetime.strptime(date,'%Y-%m-%dT%H:%M:%SZ')
                    date = date.strftime('%Y-%m-%d')
                    version_string = each_version.get('versionString','')
                    release_notes = each_version.get('releaseNotes','')
                obs_u = (json['app_id'],date,version_string)
                if hash(obs_u) not in unique_ver:
                    unique_ver.add(hash(obs_u))
                    obs = (json['app_id'],date,
                           version_string,
#                            release_notes,
                          )
                    csv_writer.writerow(obs)
    return out_filename

In [35]:
df_debug = None
if DEBUG:
    df_debug = read_csv(ALLVERSIONS(RAW_FILE_NEWDATA,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date version_string
0     554951624  2015-01-13            1.1
1     554951624  2013-02-15            1.0
2     554950974  2012-09-18            1.1
3     554943499  2013-08-29            1.3
4     554943499  2013-08-14            1.2
5     554943499  2013-01-21            1.1
6     554943499  2012-09-07            1.0
7     554955624  2013-06-08            1.4
8     554955624  2012-09-08            1.2
9     626127894  2013-04-01            1.0
10    554948858  2013-04-07          1.3.1
11    554948858  2012-11-06            1.3
12    554948858  2012-10-16            1.2
13    554948858  2012-09-19           1.1.
14    554948858  2012-09-03            1.0
15    626090799  2015-01-28          4.3.1
16    626090799  2014-12-19          4.2.1
17    626090799  2014-12-03          4.1.2
18    626090799  2014-11-20          4.1.1
19    626090799  2014-11-07          4.0.3
20    626090799  2014-10-18          4.0.0
21    626090799  2014-10-02          3.5.5
22    626090799  2014-07-27          3.5.1
23    626090799  2014-07-20          3.5.0
24    626090799  2014-07-07          3.3.4
25    626090799  2014-05-22          3.3.2
26    626090799  2014-05-04          3.2.7
27    626090799  2014-04-13          3.2.4
28    626090799  2014-02-24          3.2.0
29    626090799  2013-12-20          3.1.0
...         ...         ...            ...
2355  555272782  2013-08-21           1.60
2356  555272782  2012-09-07           1.50
2357  626159460  2014-09-11          2.2.4
2358  626159460  2014-06-20          2.2.3
2359  626159460  2014-04-08          2.2.2
2360  626159460  2014-03-05          2.2.1
2361  626159460  2014-02-14            2.2
2362  626159460  2013-10-14            2.1
2363  626159460  2013-10-04            2.0
2364  626159460  2013-04-16            1.0
2365  555270991  2012-10-04            1.0
2366  625982749  2014-01-28          1.1.1
2367  625982749  2014-01-22            1.1
2368  625982749  2013-04-01            1.0
2369  555272256  2014-11-06            1.1
2370  555272256  2012-09-03            1.0
2371  555273880  2013-10-16          1.2.1
2372  555273880  2013-08-02            1.2
2373  555273880  2012-10-12            1.1
2374  555273880  2012-09-12            1.0
2375  555268686  2012-09-04          1.0.0
2376  555272493  2013-03-06            1.0
2377  555273442  2014-09-16            1.4
2378  555273442  2014-04-04            1.3
2379  555273442  2013-12-09            1.2
2380  555273442  2013-11-13            1.1
2381  555273442  2012-09-03            1.0
2382  626091823  2013-11-06          1.5.0
2383  626091823  2013-04-09            1.0
2384  626650995  2013-04-05            1.0

[2385 rows x 3 columns]

# NEWREQ

In [36]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWREQ(file_in,out_base,compress=1):
    headers = ['app_id','date','requires','optimized']
    out_filename = out_base.format('NEWREQ')
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file, dialect='excel')
        csv_writer.writerow(headers)
        running = {}
        and_re = re.compile(r"and ")
        com_with_re = re.compile(r"Compatible with ")
        optimize_re = re.compile(r"This app is optimized for ")
        for json in iter_json_gzip(file_in):
            requires = json.get('requirements',None)
            if requires == None:
                continue
            re_split = requires.split(".")
            requires = com_with_re.sub('',re_split[0]).strip()
            requires = and_re.sub('',requires)
            optimized = None
            if len(re_split)>1:
                optimized = re_split[1].strip()
                optimized = optimize_re.sub("",optimized)
            if running.get(json['app_id'],'')!=json.get('requirements',''):
                running[json['app_id']] = json.get('requirements','')
                day = datetime.datetime.fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d')
                obs = (json['app_id'],day,requires,optimized)
                csv_writer.writerow(obs)
    return out_filename

In [37]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWREQ(RAW_FILE_NEWDATA,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date        requires   optimized
0    554951624  2015-02-19  Requires iOS 5  1 or later
1    554950974  2015-02-19  Requires iOS 4  2 or later
2    554943499  2015-02-19  Requires iOS 4  3 or later
3    554955624  2015-02-19  Requires iOS 4  3 or later
4    626127894  2015-02-19  Requires iOS 5  0 or later
5    554948858  2015-02-19  Requires iOS 5  0 or later
6    626090799  2015-02-19  Requires iOS 6  0 or later
7    554964569  2015-02-19  Requires iOS 6  0 or later
8    554936718  2015-02-19  Requires iOS 4  3 or later
9    554946247  2015-02-19  Requires iOS 5           1
10   626048966  2015-02-19  Requires iOS 6  1 or later
11   554961300  2015-02-19  Requires iOS 6  0 or later
12   554948898  2015-02-19  Requires iOS 5  0 or later
13   554953108  2015-02-19  Requires iOS 3           1
14   554948318  2015-02-19  Requires iOS 5  0 or later
15   554949951  2015-02-19  Requires iOS 5  1 or later
16   626042451  2015-02-19  Requires iOS 6  0 or later
17   554948564  2015-02-19  Requires iOS 4  2 or later
18   554963269  2015-02-19  Requires iOS 5  0 or later
19   554963282  2015-02-19  Requires iOS 5  1 or later
20   554966672  2015-02-19  Requires iOS 4  3 or later
21   554953934  2015-02-19  Requires iOS 3  2 or later
22   554953433  2015-02-19  Requires iOS 3  2 or later
23   554945018  2015-02-19  Requires iOS 3  1 or later
24   554949926  2015-02-19  Requires iOS 5  1 or later
25   554950152  2015-02-19  Requires iOS 5  0 or later
26   626097689  2015-02-19  Requires iOS 6  0 or later
27   554951563  2015-02-19  Requires iOS 3  2 or later
28   626097793  2015-02-19  Requires iOS 6  0 or later
29   554961305  2015-02-19  Requires iOS 5  0 or later
..         ...         ...             ...         ...
609  555268661  2015-02-19  Requires iOS 6  1 or later
610  626021856  2015-02-19  Requires iOS 6  0 or later
611  555268423  2015-02-19  Requires iOS 4  1 or later
612  555267419  2015-02-19  Requires iOS 5  0 or later
613  555261861  2015-02-19  Requires iOS 4  3 or later
614  555267808  2015-02-19  Requires iOS 7  0 or later
615  555261999  2015-02-19  Requires iOS 5  0 or later
616  555261255  2015-02-19  Requires iOS 7  1 or later
617  555270702  2015-02-19  Requires iOS 4  3 or later
618  555265819  2015-02-19  Requires iOS 3           1
619  626098858  2015-02-19  Requires iOS 5  1 or later
620  555269766  2015-02-19  Requires iOS 6  0 or later
621  555269661  2015-02-19  Requires iOS 7  1 or later
622  625987268  2015-02-19  Requires iOS 6  1 or later
623  555263343  2015-02-19  Requires iOS 4  0 or later
624  555269976  2015-02-19  Requires iOS 4  3 or later
625  555270681  2015-02-19  Requires iOS 5  0 or later
626  555264570  2015-02-19  Requires iOS 5  0 or later
627  555270744  2015-02-19  Requires iOS 4  3 or later
628  555272782  2015-02-19  Requires iOS 4  3 or later
629  626159460  2015-02-19  Requires iOS 5  0 or later
630  555270991  2015-02-19  Requires iOS 4  3 or later
631  625982749  2015-02-19  Requires iOS 7  0 or later
632  555272256  2015-02-19  Requires iOS 7  1 or later
633  555273880  2015-02-19  Requires iOS 5  0 or later
634  555268686  2015-02-19  Requires iOS 3  2 or later
635  555272493  2015-02-19  Requires iOS 5  0 or later
636  555273442  2015-02-19  Requires iOS 6  0 or later
637  626091823  2015-02-19  Requires iOS 6  1 or later
638  626650995  2015-02-19  Requires iOS 4  3 or later

[639 rows x 4 columns]

# NEWNAME

In [38]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWNAME(file_in,out_base,compress=1):
    headers = ['app_id', 'date', 'name'] # list of column names
    out_filename = out_base.format('NEWNAME')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            name = json.get('app_name','')
            if isinstance(name,str):
                name = name.strip()
                if running.get(json['app_id'],'')!=name and len(name)>0:
                    running[json['app_id']] = name
                    obs = [json['app_id'], str(datetime.date.fromtimestamp(int(json.get('timestamp', '')))), name]
                    csv_writer.writerow(obs)
    return out_filename

In [39]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWNAME(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date                                         name
0     281656475  2010-09-06                                      PAC-MAN
1     281704574  2010-09-06                           AIM (Free Edition)
2     281736535  2010-09-06                                       Enigmo
3     281790044  2010-09-06                                        WHERE
4     281796108  2010-09-06                                     Evernote
5     281816692  2010-09-06                             Pocket ExpressÂ®
6     281826146  2010-09-06                            Salesforce Mobile
7     281861187  2010-09-06                         nikoli SUDOKU Vol.01
8     281889893  2010-09-06  Bomberman Touch - The Legend of Mystic Bomb
9     281893011  2010-09-06                                  Aqua Forest
10    281913144  2010-09-06                                    AOL Radio
11    281935788  2010-09-06                                    Epocrates
12    281940292  2010-09-06                                   WeatherBug
13    281941097  2010-09-06                                    Bloomberg
14    281944480  2010-09-06                                      TypePad
15    281952554  2010-09-06                                        Loopt
16    281962101  2010-09-06     San Francisco: A Frommers Complete Guide
17    281969989  2010-09-06                          MLB.com At Bat Lite
18    282614216  2010-09-06                                  eBay Mobile
19    282737873  2010-09-06                            My Emergency Info
20    282738621  2010-09-06               ZHI Chinese-English Dictionary
21    282750724  2010-09-06                                  Sun Compass
22    282758413  2010-09-06                                 ShoppingList
23    282764294  2010-09-06                               Bubble Bashâ„¢
24    282769257  2010-09-06                                     AccuFuel
25    282778557  2010-09-06                                         Todo
26    282796383  2010-09-06    NYC Subway Maps for iPhone and iPod touch
27    282841854  2010-09-06                                BlackJack Run
28    282860910  2010-09-06                               FrisbeeÂ® Golf
29    282914454  2010-09-06                        iTip (tip calculator)
...         ...         ...                                          ...
971   286228072  2010-09-06                                  Round Timer
972   286231974  2010-09-06                     English-Czech dictionary
973   286234919  2010-09-06                                      TriCalc
974   286236286  2010-09-06                            The Running GyPSy
975   286238759  2010-09-06                                        Dates
976   286243728  2010-09-06                                  Sword Drill
977   286247235  2010-09-06                                iDoodle2 lite
978   286261176  2010-09-06                                      ASL Pro
979   286261239  2010-09-06                             MobileFamilyTree
980   286262858  2010-09-06                            Hong Kong Weather
981   286264159  2010-09-06     iJisho - Japanese <-> English Dictionary
982   286269540  2010-09-06                     American HeritageÂ® Desk
983   286274367  2010-09-06                   Palringo Instant Messenger
984   286277583  2010-09-06                             Bill4Time Mobile
985   286287080  2010-09-06                                      Go Calc
986   286303930  2010-09-06                       Pregnancy Kick Counter
987   286308326  2010-09-06                  Kamicom Sudoku + Wallpapers
988   286310196  2010-09-06                                     ClockArt
989   286313771  2010-09-06                                  Gravitation
990   286316832  2010-09-06          Mating Call (Female) â€” Speed Dial
991   286317054  2010-09-06            Mating Call (Male) â€” Speed Dial
992   286318894  2010-09-06                                        iDice
993   286320212  2010-09-06                     Interview Assistant Lite
994   286322239  2010-09-06                                       Elixir
995   286323755  2010-09-06                          Delicious Bookmarks
996   286324911  2010-09-06                                Computer List
997   286331900  2010-09-06                                       TanZen
998   286334143  2010-09-06                                  Crazy Spark
999   286347960  2010-09-06                                    TouchPlot
1000  286348301  2010-09-06                                 vCard Mailer

[1001 rows x 3 columns]

# NEWINAPP

In [40]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWINAPP(file_in,out_base,compress=1):
    headers = ['app_id', 'date', 'has_inapp'] # list of column names
    out_filename = out_base.format('NEWINAPP')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            name = json.get('addOns',None)
            if name != None and running.get('app_id',0) != name:
                running[json['app_id']] = True
                obs = [json['app_id'], str(datetime.date.fromtimestamp(int(json.get('timestamp', '')))), True]
                csv_writer.writerow(obs)
    return out_filename

In [41]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWINAPP(RAW_FILE_NEWDATA,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date has_inapp
0    626090799  2015-02-19      True
1    554961300  2015-02-19      True
2    554948898  2015-02-19      True
3    554948318  2015-02-19      True
4    554950152  2015-02-19      True
5    554961300  2015-02-19      True
6    554948898  2015-02-19      True
7    625998068  2015-02-19      True
8    625987338  2015-02-19      True
9    626092889  2015-02-19      True
10   554979532  2015-02-19      True
11   554977507  2015-02-19      True
12   554977696  2015-02-19      True
13   554969153  2015-02-19      True
14   626103751  2015-02-19      True
15   554969153  2015-02-19      True
16   554977507  2015-02-19      True
17   626240507  2015-02-19      True
18   554979532  2015-02-19      True
19   554980313  2015-02-19      True
20   554978066  2015-02-19      True
21   554980313  2015-02-19      True
22   554980323  2015-02-19      True
23   554981937  2015-02-19      True
24   554981937  2015-02-19      True
25   554980323  2015-02-19      True
26   554987842  2015-02-19      True
27   626141943  2015-02-19      True
28   626130082  2015-02-19      True
29   625989211  2015-02-19      True
..         ...         ...       ...
116  555252630  2015-02-19      True
117  625982451  2015-02-19      True
118  555247269  2015-02-19      True
119  555256730  2015-02-19      True
120  555258050  2015-02-19      True
121  555252630  2015-02-19      True
122  555248911  2015-02-19      True
123  555256730  2015-02-19      True
124  555258225  2015-02-19      True
125  555258821  2015-02-19      True
126  555260686  2015-02-19      True
127  555258050  2015-02-19      True
128  555259885  2015-02-19      True
129  555258225  2015-02-19      True
130  555260044  2015-02-19      True
131  555261297  2015-02-19      True
132  555259885  2015-02-19      True
133  555263451  2015-02-19      True
134  555259677  2015-02-19      True
135  555265373  2015-02-19      True
136  555258821  2015-02-19      True
137  555261297  2015-02-19      True
138  555261861  2015-02-19      True
139  555261861  2015-02-19      True
140  555263451  2015-02-19      True
141  625983805  2015-02-19      True
142  626159460  2015-02-19      True
143  555270991  2015-02-19      True
144  555273880  2015-02-19      True
145  555265373  2015-02-19      True

[146 rows x 3 columns]

# DAILYSCRAPE

In [42]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def DAILYSCRAPE(file_in,out_base,compress=1):
    headers = ['app_id', 'date'] # list of column names
    out_filename = out_base.format('DAILYSCRAPE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            day = str(datetime.date.fromtimestamp(json.get('timestamp','')))
            if isinstance(day,str):
                day = day.strip()
                if running.get(json['app_id'],'')!=day and len(day)>0:
                    running[json['app_id']] = day
                    obs = [json['app_id'], day]
                    csv_writer.writerow(obs)
    return out_filename

In [43]:
df_debug = None
if DEBUG:
    df_debug = read_csv(DAILYSCRAPE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date
0     281656475  2010-09-06
1     281704574  2010-09-06
2     281736535  2010-09-06
3     281790044  2010-09-06
4     281796108  2010-09-06
5     281816692  2010-09-06
6     281826146  2010-09-06
7     281861187  2010-09-06
8     281889893  2010-09-06
9     281893011  2010-09-06
10    281913144  2010-09-06
11    281935788  2010-09-06
12    281940292  2010-09-06
13    281941097  2010-09-06
14    281944480  2010-09-06
15    281952554  2010-09-06
16    281962101  2010-09-06
17    281969989  2010-09-06
18    282614216  2010-09-06
19    282737873  2010-09-06
20    282738621  2010-09-06
21    282750724  2010-09-06
22    282758413  2010-09-06
23    282764294  2010-09-06
24    282769257  2010-09-06
25    282778557  2010-09-06
26    282796383  2010-09-06
27    282841854  2010-09-06
28    282860910  2010-09-06
29    282914454  2010-09-06
...         ...         ...
971   286228072  2010-09-06
972   286231974  2010-09-06
973   286234919  2010-09-06
974   286236286  2010-09-06
975   286238759  2010-09-06
976   286243728  2010-09-06
977   286247235  2010-09-06
978   286261176  2010-09-06
979   286261239  2010-09-06
980   286262858  2010-09-06
981   286264159  2010-09-06
982   286269540  2010-09-06
983   286274367  2010-09-06
984   286277583  2010-09-06
985   286287080  2010-09-06
986   286303930  2010-09-06
987   286308326  2010-09-06
988   286310196  2010-09-06
989   286313771  2010-09-06
990   286316832  2010-09-06
991   286317054  2010-09-06
992   286318894  2010-09-06
993   286320212  2010-09-06
994   286322239  2010-09-06
995   286323755  2010-09-06
996   286324911  2010-09-06
997   286331900  2010-09-06
998   286334143  2010-09-06
999   286347960  2010-09-06
1000  286348301  2010-09-06

[1001 rows x 2 columns]

# MONTHLYSCRAPE

In [44]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def MONTHLYSCRAPE(file_in,out_base,compress=1):
    headers = ['app_id', 'year', 'month'] # list of column names
    out_filename = out_base.format('MONTHLYSCRAPE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            date = (str(datetime.date.fromtimestamp(json.get('timestamp','')).month), str(datetime.date.fromtimestamp(json.get('timestamp','')).year))
            if isinstance(date,tuple):
                if running.get(json['app_id'],'')!=date and len(date)>0:
                    running[json['app_id']] = date
                    obs = [json['app_id'], date[1], date[0]]
                    csv_writer.writerow(obs)
    return out_filename

In [45]:
df_debug = None
if DEBUG:
    df_debug = read_csv(MONTHLYSCRAPE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id  year  month
0     281656475  2010      9
1     281704574  2010      9
2     281736535  2010      9
3     281790044  2010      9
4     281796108  2010      9
5     281816692  2010      9
6     281826146  2010      9
7     281861187  2010      9
8     281889893  2010      9
9     281893011  2010      9
10    281913144  2010      9
11    281935788  2010      9
12    281940292  2010      9
13    281941097  2010      9
14    281944480  2010      9
15    281952554  2010      9
16    281962101  2010      9
17    281969989  2010      9
18    282614216  2010      9
19    282737873  2010      9
20    282738621  2010      9
21    282750724  2010      9
22    282758413  2010      9
23    282764294  2010      9
24    282769257  2010      9
25    282778557  2010      9
26    282796383  2010      9
27    282841854  2010      9
28    282860910  2010      9
29    282914454  2010      9
...         ...   ...    ...
971   286228072  2010      9
972   286231974  2010      9
973   286234919  2010      9
974   286236286  2010      9
975   286238759  2010      9
976   286243728  2010      9
977   286247235  2010      9
978   286261176  2010      9
979   286261239  2010      9
980   286262858  2010      9
981   286264159  2010      9
982   286269540  2010      9
983   286274367  2010      9
984   286277583  2010      9
985   286287080  2010      9
986   286303930  2010      9
987   286308326  2010      9
988   286310196  2010      9
989   286313771  2010      9
990   286316832  2010      9
991   286317054  2010      9
992   286318894  2010      9
993   286320212  2010      9
994   286322239  2010      9
995   286323755  2010      9
996   286324911  2010      9
997   286331900  2010      9
998   286334143  2010      9
999   286347960  2010      9
1000  286348301  2010      9

[1001 rows x 3 columns]

# WEEKLYSCRAPE

In [46]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def WEEKLYSCRAPE(file_in,out_base,compress=1):
    headers = ['app_id', 'year', 'week'] # list of column names
    out_filename = out_base.format('WEEKLYSCRAPE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            date = (str(datetime.date.fromtimestamp(json.get('timestamp','')).year), str(datetime.date.fromtimestamp(json.get('timestamp','')).isocalendar()[1]))
            if isinstance(date,tuple):
                if running.get(json['app_id'],'')!=date and len(date)>0:
                    running[json['app_id']] = date
                    obs = [json['app_id'], date[0], date[1]]
                    csv_writer.writerow(obs)
    return out_filename

In [47]:
df_debug = None
if DEBUG:
    df_debug = read_csv(WEEKLYSCRAPE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id  year  week
0     281656475  2010    36
1     281704574  2010    36
2     281736535  2010    36
3     281790044  2010    36
4     281796108  2010    36
5     281816692  2010    36
6     281826146  2010    36
7     281861187  2010    36
8     281889893  2010    36
9     281893011  2010    36
10    281913144  2010    36
11    281935788  2010    36
12    281940292  2010    36
13    281941097  2010    36
14    281944480  2010    36
15    281952554  2010    36
16    281962101  2010    36
17    281969989  2010    36
18    282614216  2010    36
19    282737873  2010    36
20    282738621  2010    36
21    282750724  2010    36
22    282758413  2010    36
23    282764294  2010    36
24    282769257  2010    36
25    282778557  2010    36
26    282796383  2010    36
27    282841854  2010    36
28    282860910  2010    36
29    282914454  2010    36
...         ...   ...   ...
971   286228072  2010    36
972   286231974  2010    36
973   286234919  2010    36
974   286236286  2010    36
975   286238759  2010    36
976   286243728  2010    36
977   286247235  2010    36
978   286261176  2010    36
979   286261239  2010    36
980   286262858  2010    36
981   286264159  2010    36
982   286269540  2010    36
983   286274367  2010    36
984   286277583  2010    36
985   286287080  2010    36
986   286303930  2010    36
987   286308326  2010    36
988   286310196  2010    36
989   286313771  2010    36
990   286316832  2010    36
991   286317054  2010    36
992   286318894  2010    36
993   286320212  2010    36
994   286322239  2010    36
995   286323755  2010    36
996   286324911  2010    36
997   286331900  2010    36
998   286334143  2010    36
999   286347960  2010    36
1000  286348301  2010    36

[1001 rows x 3 columns]

# NEWLANGUAGES

In [48]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWLANGUAGES(file_in,out_base,compress=1):
    #assumes no more than 6 langs, script will still work if >6 langs but no headers on csv file for langs 7+
    headers = ['app_id', 'date'] # list of column names
    headers += ["language_{}".format(x) for x in range(1,41)]
    out_filename = out_base.format('NEWLANGUAGES')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            langs = json.get('languages',None)
            if not langs:
                continue
            langs = tuple(sorted(tuple(str(langs).split(','))))
            if isinstance(langs,tuple):
                if running.get(json['app_id'],'')!=langs and langs != ('',) and len(langs) > 0:
                    running[json['app_id']] = langs
                    obs = [json['app_id'], str(datetime.date.fromtimestamp(int(json.get('timestamp', ''))))]
                    [obs.append(str(x).strip()) for x in langs]
                    csv_writer.writerow(obs)
    return out_filename

In [49]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWLANGUAGES(RAW_FILE_NEWDATA,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

,app_id,date,language_1,language_2,language_3,language_4,language_5,language_6,language_7,language_8,...,language_31,language_32,language_33,language_34,language_35,language_36,language_37,language_38,language_39,language_40
0,554951624,2015-02-19,Japanese,Korean,English,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,554950974,2015-02-19,German,Northern Sami,Spanish,English,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,554943499,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,554955624,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,626127894,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,554948858,2015-02-19,German,English,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,626090799,2015-02-19,Simplified Chinese,En,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,554964569,2015-02-19,Polish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,554936718,2015-02-19,Russian,English,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,554946247,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,626048966,2015-02-19,French,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,554961300,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,554948898,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,554953108,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,554948318,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,554949951,2015-02-19,German,English,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,626042451,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,554948564,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,554963269,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,554963282,2015-02-19,Danish,English,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,554966672,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,554953934,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,554953433,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,554945018,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,554949926,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,554950152,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,626097689,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,554951563,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,626097793,2015-02-19,Spanish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,554961305,2015-02-19,German,Northern Sami,Spanish,English,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,555268661,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,626021856,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
611,555268423,2015-02-19,Arabic,Bokmål,Czech,Danish,Dutch,Finnish,French,German,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
612,555267419,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,555261861,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614,555267808,2015-02-19,Arabic,German,English,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,555261999,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,555261255,2015-02-19,French,German,Spanish,En,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,555270702,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,555265819,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,626098858,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,555269766,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621,555269661,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,625987268,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,555263343,2015-02-19,Czech,Dutch,French,German,Italian,Japanese,Korean,Polish,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624,555269976,2015-02-19,Dutch,Finnish,French,German,Hungarian,Italian,Portuguese,Russian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,555270681,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
626,555264570,2015-02-19,Dutch,French,English,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627,555270744,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
628,555272782,2015-02-19,Chinese,French,German,Japanese,Spanish,English,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
629,626159460,2015-02-19,French,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,555270991,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,625982749,2015-02-19,Italian,English,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,555272256,2015-02-19,German,Turkish,English,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,555273880,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,555268686,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,555272493,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,555273442,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637,626091823,2015-02-19,German,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,626650995,2015-02-19,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# NEWSIZE

In [50]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWSIZE(file_in,out_base,compress=1):
    headers = ['app_id', 'date', 'size'] # list of column names
    out_filename = out_base.format('NEWSIZE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            size = json.get('size','')
            if isinstance(size,int):
                if running.get(json['app_id'],'')!=size and size>0:
                    running[json['app_id']] = size
                    obs = [json['app_id'], str(datetime.date.fromtimestamp(int(json.get('timestamp', '')))), size]
                    csv_writer.writerow(obs)
    return out_filename

In [51]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSIZE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date      size
0    281656475  2010-09-06   3500000
1    281704574  2010-09-06   5700000
2    281736535  2010-09-06   4700000
3    281790044  2010-09-06   8000000
4    281796108  2010-09-06   7900000
5    281816692  2010-09-06   4200000
6    281826146  2010-09-06   2100000
7    281861187  2010-09-06   2800000
8    281889893  2010-09-06  12600000
9    281893011  2010-09-06   6800000
10   281913144  2010-09-06    400000
11   281935788  2010-09-06   5000000
12   281940292  2010-09-06   3500000
13   281941097  2010-09-06   4700000
14   281944480  2010-09-06    300000
15   281952554  2010-09-06   6500000
16   281962101  2010-09-06    900000
17   281969989  2010-09-06   6700000
18   282614216  2010-09-06   3100000
19   282737873  2010-09-06    500000
20   282738621  2010-09-06  17300000
21   282750724  2010-09-06    100000
22   282758413  2010-09-06   1400000
23   282764294  2010-09-06  70900000
24   282769257  2010-09-06    600000
25   282778557  2010-09-06   2000000
26   282796383  2010-09-06   7500000
27   282841854  2010-09-06   3600000
28   282860910  2010-09-06   2400000
29   282914454  2010-09-06    600000
..         ...         ...       ...
951  286227959  2010-09-06    900000
952  286228072  2010-09-06   3200000
953  286231974  2010-09-06   3000000
954  286234919  2010-09-06    200000
955  286236286  2010-09-06    100000
956  286238759  2010-09-06   1500000
957  286243728  2010-09-06    100000
958  286247235  2010-09-06    500000
959  286261176  2010-09-06   4600000
960  286261239  2010-09-06   4000000
961  286262858  2010-09-06   1600000
962  286264159  2010-09-06    100000
963  286269540  2010-09-06  32400000
964  286274367  2010-09-06   3400000
965  286277583  2010-09-06    300000
966  286287080  2010-09-06   1000000
967  286303930  2010-09-06    200000
968  286308326  2010-09-06   6700000
969  286313771  2010-09-06   1100000
970  286316832  2010-09-06    500000
971  286317054  2010-09-06    500000
972  286318894  2010-09-06   2100000
973  286320212  2010-09-06    100000
974  286322239  2010-09-06   3600000
975  286323755  2010-09-06    200000
976  286324911  2010-09-06    200000
977  286331900  2010-09-06  14500000
978  286334143  2010-09-06    800000
979  286347960  2010-09-06    700000
980  286348301  2010-09-06    200000

[981 rows x 3 columns]

# NEWARTIST

In [52]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWARTIST(file_in,out_base,compress=1):
    headers = ['app_id','date','artist_name']
    out_filename = out_base.format('NEWARTIST')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            developer = json.get('artistName','')
            if running.get(json['app_id'],'')!=developer:
                running[json['app_id']] = developer
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                obs = (json['app_id'],day,developer)
                csv_writer.writerow(obs)
    return out_filename

In [53]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWARTIST(RAW_FILE_NEWDATA,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date                                        artist_name
0    554951624  2015-02-19                                             서울 특별시
1    554950974  2015-02-19                                         Paul Merks
2    554943499  2015-02-19                            University of Liverpool
3    554955624  2015-02-19                                         Lilo Peter
4    626127894  2015-02-19                                              Yijee
5    554948858  2015-02-19                                E.ON Energy Limited
6    626090799  2015-02-19                                        Triposo Inc
7    554964569  2015-02-19                              Marquard Media Polska
8    554936718  2015-02-19                                        TreeLev LLC
9    554946247  2015-02-19                           American Bar Association
10   626048966  2015-02-19                                     Benoit Legrand
11   554961300  2015-02-19                         MagazineCloner.com Limited
12   554948898  2015-02-19                                    Zentertain Ltd.
13   554953108  2015-02-19                         Wired Developments Pty Ltd
14   554948318  2015-02-19                                  Children’s Bibles
15   554949951  2015-02-19                               R&C Gastronomie GmbH
16   626042451  2015-02-19                                            VibSoft
17   554948564  2015-02-19                                      HYUN SEOK GOO
18   554963269  2015-02-19                                              EBLEX
19   554963282  2015-02-19                                   Marianne Lilholt
20   554966672  2015-02-19                                       Fashionphile
21   554953934  2015-02-19      SiamSquared Technologies (Thailand) Co., Ltd.
22   554953433  2015-02-19                                       Dharanet LLC
23   554945018  2015-02-19                                  Fun Science Group
24   554949926  2015-02-19                                    TDSoftware GmbH
25   554950152  2015-02-19                                  Children’s Bibles
26   626097689  2015-02-19                                    CEO Softcenters
27   554951563  2015-02-19                                   Atlas Apps, LLC.
28   626097793  2015-02-19                                  Exequiel Gallardo
29   554961305  2015-02-19                                     Sebastian Popp
..         ...         ...                                                ...
609  555268661  2015-02-19                                           Leon Lee
610  626021856  2015-02-19                                    alexander smith
611  555268423  2015-02-19                                  Nikon Corporation
612  555267419  2015-02-19                                            Quamnet
613  555261861  2015-02-19                                     concappt media
614  555267808  2015-02-19                                             Centro
615  555261999  2015-02-19                            Grichananont Hunthayung
616  555261255  2015-02-19                                       neoopix GmbH
617  555270702  2015-02-19                                      Zoltán Kovács
618  555265819  2015-02-19                                               标派和乐
619  626098858  2015-02-19                                      Five Deer Ltd
620  555269766  2015-02-19                                        Hon Fai Yiu
621  555269661  2015-02-19                                           PSD Apps
622  625987268  2015-02-19                                           MindObix
623  555263343  2015-02-19                                WebTeam Corporation
624  555269976  2015-02-19                                          Mongo LLP
625  555270681  2015-02-19          Extentia Information Technology Pvt. Ltd.
626  555264570  2015-02-19                                Scriptum Publishers
627  555270744  2015-02-19  Pin Sheng New Start information technology Co....
628  555272782  2015-02-19                                            BluSped
629  626159460  2015-02-19                                           AUTICIEL
630  555270991  2015-02-19                                           Qiao Jin
631  625982749  2015-02-19                                             Natium
632  555272256  2015-02-19                                    Guleser Ozdemir
633  555273880  2015-02-19                                         John Smith
634  555268686  2015-02-19                                    Sergey Burlakov
635  555272493  2015-02-19                                   Jakub Wróblewski
636  555273442  2015-02-19              Sakhatech Information Systems Pvt Ltd
637  626091823  2015-02-19                                 meXXL Service GmbH
638  626650995  2015-02-19                                     B REVATHI DEVI

[639 rows x 3 columns]

# NEWREVIEW

In [54]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWREVIEW(file_in,out_base,compress=1):
    headers = ['app_id','date','total_reviews']
    out_filename = out_base.format('NEWREVIEW')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            total_reviews = str(json.get('totalNumberOfReviews',''))
            if running.get(json['app_id'],'')!= total_reviews:
                running[json['app_id']] = total_reviews
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                obs = (json['app_id'],day,total_reviews)
                csv_writer.writerow(obs)
    return out_filename

In [55]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWREVIEW(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id        date  total_reviews
0    281656475  2010-09-06            446
1    281704574  2010-09-06          12689
2    281736535  2010-09-06           2862
3    281790044  2010-09-06           1464
4    281796108  2010-09-06           1548
5    281816692  2010-09-06            934
6    281826146  2010-09-06            222
7    281861187  2010-09-06             15
8    281889893  2010-09-06            198
9    281893011  2010-09-06            698
10   281913144  2010-09-06           2235
11   281935788  2010-09-06            987
12   281940292  2010-09-06           1552
13   281941097  2010-09-06           1255
14   281944480  2010-09-06             71
15   281952554  2010-09-06           2106
16   281962101  2010-09-06              8
17   281969989  2010-09-06            949
18   282614216  2010-09-06           2311
19   282737873  2010-09-06             23
20   282738621  2010-09-06             12
21   282758413  2010-09-06             95
22   282764294  2010-09-06            138
23   282769257  2010-09-06            235
24   282778557  2010-09-06           1440
25   282796383  2010-09-06             24
26   282841854  2010-09-06             56
27   282860910  2010-09-06             41
28   282914454  2010-09-06             28
29   282935706  2010-09-06           3209
..         ...         ...            ...
764  286226296  2010-09-06             18
765  286227959  2010-09-06              4
766  286228072  2010-09-06             46
767  286231974  2010-09-06              8
768  286234919  2010-09-06             19
769  286236286  2010-09-06             31
770  286238759  2010-09-06              2
771  286243728  2010-09-06             15
772  286247235  2010-09-06            347
773  286261176  2010-09-06             14
774  286261239  2010-09-06             43
775  286262858  2010-09-06             55
776  286264159  2010-09-06              6
777  286269540  2010-09-06             43
778  286274367  2010-09-06           2192
779  286277583  2010-09-06             14
780  286287080  2010-09-06             27
781  286308326  2010-09-06             11
782  286310196  2010-09-06             20
783  286313771  2010-09-06              6
784  286316832  2010-09-06             12
785  286317054  2010-09-06             11
786  286318894  2010-09-06             11
787  286320212  2010-09-06              3
788  286322239  2010-09-06              6
789  286323755  2010-09-06             71
790  286324911  2010-09-06              7
791  286331900  2010-09-06            342
792  286347960  2010-09-06             29
793  286348301  2010-09-06             36

[794 rows x 3 columns]

# NEWSELLER

In [56]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def NEWSELLER(file_in,out_base,compress=1):
    headers = ['app_id','date','seller']
    out_filename = out_base.format('NEWSELLER')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            developer = '{}'.format(json['seller'])
            if running.get(json['app_id'],None)!=developer:
                running[json['app_id']] = developer
                day = datetime.datetime.\
                fromtimestamp(int(json['timestamp']))\
                        .strftime('%Y-%m-%d').strip()
                obs = (json['app_id'],day,developer)
                csv_writer.writerow(obs)
    return out_filename

In [57]:
df_debug = None
if DEBUG:
    df_debug = read_csv(NEWSELLER(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id        date                                seller
0     281656475  2010-09-06                Namco Networks America
1     281704574  2010-09-06                                   AOL
2     281736535  2010-09-06                  Pangea Software Inc.
3     281790044  2010-09-06                            WHERE Inc.
4     281796108  2010-09-06                              Evernote
5     281816692  2010-09-06                         Handmark Inc.
6     281826146  2010-09-06                        salesforce.com
7     281861187  2010-09-06                  Hudson Entertainment
8     281889893  2010-09-06                  Hudson Entertainment
9     281893011  2010-09-06                  Hudson Entertainment
10    281913144  2010-09-06                                   AOL
11    281935788  2010-09-06                             Epocrates
12    281940292  2010-09-06     AWS Convergence Technologies Inc.
13    281941097  2010-09-06                          Bloomberg LP
14    281944480  2010-09-06                        Six Apart Ltd.
15    281952554  2010-09-06                             Loopt Inc
16    281962101  2010-09-06                         Modality Inc.
17    281969989  2010-09-06  Major League Baseball Advanced Media
18    282614216  2010-09-06                             eBay Inc.
19    282737873  2010-09-06                        Polka Networks
20    282738621  2010-09-06                    Samuel Quinn Slack
21    282750724  2010-09-06                            Vlad Lungu
22    282758413  2010-09-06                        Werner Freytag
23    282764294  2010-09-06                         Gameloft S.A.
24    282769257  2010-09-06                           Appigo Inc.
25    282778557  2010-09-06                           Appigo Inc.
26    282796383  2010-09-06              Clint Bagwell Consulting
27    282841854  2010-09-06                             James Lee
28    282860910  2010-09-06        Four Corners Development Group
29    282914454  2010-09-06                          Paul Schmitt
...         ...         ...                                   ...
971   286228072  2010-09-06                      Scott Fritzinger
972   286231974  2010-09-06                           Petr Homola
973   286234919  2010-09-06                          Glenda Adams
974   286236286  2010-09-06                           Bernard Kim
975   286238759  2010-09-06                         Josef Wankerl
976   286243728  2010-09-06                        DONALD BABCOCK
977   286247235  2010-09-06                         Josiah Larson
978   286261176  2010-09-06                       Zuraimie Ismail
979   286261239  2010-09-06                  Synium Software GmbH
980   286262858  2010-09-06                          Jeffery Wong
981   286264159  2010-09-06                         Daniel Kaldor
982   286269540  2010-09-06                           Enfour Inc.
983   286274367  2010-09-06                      Palringo Limited
984   286277583  2010-09-06                      Broadway Billing
985   286287080  2010-09-06                       Matthew Kennard
986   286303930  2010-09-06                           Ethan Allen
987   286308326  2010-09-06                         Justin Kaleta
988   286310196  2010-09-06                         David Bannach
989   286313771  2010-09-06                       ROBERT F FARNUM
990   286316832  2010-09-06                       UtiliTouch Inc.
991   286317054  2010-09-06                       UtiliTouch Inc.
992   286318894  2010-09-06                         Jeremy Curcio
993   286320212  2010-09-06                            Lee Konowe
994   286322239  2010-09-06                           Robert Luke
995   286323755  2010-09-06                    Douglas Richardson
996   286324911  2010-09-06                          Joachim Bean
997   286331900  2010-09-06                          Craig Kemper
998   286334143  2010-09-06                             Ezone.com
999   286347960  2010-09-06                   Pierre-Henri Jondot
1000  286348301  2010-09-06                    Michael Zimmermann

[1001 rows x 3 columns]

# RELEASEDATE

In [58]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def RELEASEDATE(file_in,out_base,compress=1):
    headers = ['app_id', 'release_date'] # list of column names
    out_filename = out_base.format('RELEASEDATE')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            release_date = json.get('releaseDate','')
            if isinstance(release_date,str):
                if (not running.get(json['app_id'],'')) and len(release_date)>0:
                    obs = [json['app_id'], release_date]
                    csv_writer.writerow(obs)
    return out_filename

In [59]:
df_debug = None
if DEBUG:
    df_debug = read_csv(RELEASEDATE(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

        app_id release_date
0    282750724   2008-07-15
1    283189656   2008-08-10
2    283277455   2009-08-12
3    283487349   2008-07-09
4    283854851   2008-07-09
5    283916003   2008-07-11
6    284117359   2008-07-09
7    284150420   2008-12-18
8    284151234   2008-07-09
9    284152154   2008-07-09
10   284200792   2008-07-09
11   284222807   2008-07-09
12   284423914   2008-07-11
13   284424567   2008-07-11
14   284500703   2008-08-16
15   284584864   2008-07-11
16   284677036   2008-07-09
17   284728433   2008-07-09
18   284733760   2008-07-09
19   284735786   2008-07-28
20   284740333   2008-07-09
21   284796843   2008-07-09
22   284830543   2008-07-09
23   284845697   2008-07-09
24   284880416   2008-07-09
25   284888949   2008-12-24
26   284910005   2008-07-09
27   284922184   2008-07-11
28   284922256   2008-07-11
29   284922358   2008-07-11
..         ...          ...
149  285144671   2008-07-23
150  285309582   2008-10-24
151  285446680   2008-07-13
152  285510496   2008-10-18
153  285517069   2009-02-26
154  285542347   2008-07-16
155  285543744   2008-07-16
156  285663090   2008-07-18
157  285670842   2008-07-16
158  285731112   2008-07-16
159  285755608   2008-07-29
160  285812671   2008-07-18
161  285843849   2008-07-18
162  285849825   2009-07-11
163  285851547   2008-07-25
164  285922852   2008-07-23
165  285924237   2008-08-14
166  285933482   2008-07-23
167  286032414   2008-10-01
168  286035874   2008-07-31
169  286037391   2008-08-07
170  286052210   2008-07-24
171  286052382   2008-07-24
172  286054883   2008-07-28
173  286057850   2008-07-30
174  286060040   2008-07-30
175  286145736   2008-07-30
176  286151775   2008-08-04
177  286303930   2008-08-11
178  286334143   2008-08-02

[179 rows x 2 columns]

#SNAPSHOTQUARTERLY

In [16]:
@require(iter_json_gzip,gzip,datetime,re,csv)
def SNAPSHOTQUARTERLY(file_in,out_base,compress=1):
    headers = ['app_id', 'quarter'] # list of column names
    out_filename = out_base.format('SNAPSHOTQUARTERLY')
    running = {}
    with gzip.open(out_filename,'wt',compress) as out_file:
        csv_writer = csv.writer(out_file)
        csv_writer.writerow(headers)
        for json in iter_json_gzip(file_in):
            date = datetime.date.fromtimestamp(json.get('timestamp',''))
            quarter = str(date.year) + '-Q' + str((int(date.month/4)) + 1)
            if isinstance(quarter,str):
                if running.get(json['app_id'],'')!=quarter and len(quarter)>0:
                    running[json['app_id']] = quarter
                    obs = [json['app_id'], quarter]
                    csv_writer.writerow(obs)
    return out_filename

In [17]:
df_debug = None
if DEBUG:
    df_debug = read_csv(SNAPSHOTQUARTERLY(RAW_FILE,OUT_BASE,COMPRESS_LEVEL),compression='gzip',header=0)
df_debug

         app_id  quarter
0     477033794  2013-Q1
1     494296216  2013-Q1
2     465608546  2013-Q1
3     498191169  2013-Q1
4     333208122  2013-Q1
5     447548412  2013-Q1
6     568386333  2013-Q1
7     564550227  2013-Q1
8     555915492  2013-Q1
9     480092632  2013-Q1
10    366947521  2013-Q1
11    518504981  2013-Q1
12    382827187  2013-Q1
13    487978078  2013-Q1
14    574240086  2013-Q1
15    477679542  2013-Q1
16    523502051  2013-Q1
17    439268906  2013-Q1
18    449609348  2013-Q1
19    485213368  2013-Q1
20    421620053  2013-Q1
21    555646787  2013-Q1
22    378071869  2013-Q1
23    333378940  2013-Q1
24    467612704  2013-Q1
25    560066403  2013-Q1
26    375126481  2013-Q1
27    397911872  2013-Q1
28    588772732  2013-Q1
29    335308599  2013-Q1
...         ...      ...
971   511306890  2013-Q1
972   507402402  2013-Q1
973   406637778  2013-Q1
974   588344397  2013-Q1
975   614435478  2013-Q1
976   535705715  2013-Q1
977   544970337  2013-Q1
978   422133414  2013-Q1
979   409354774  2013-Q1
980   570615284  2013-Q1
981   398488020  2013-Q1
982   391801888  2013-Q1
983   306215672  2013-Q1
984   449577861  2013-Q1
985   501943048  2013-Q1
986   352609414  2013-Q1
987   494238968  2013-Q1
988   413903348  2013-Q1
989   496313738  2013-Q1
990   516330695  2013-Q1
991   414113560  2013-Q1
992   443547017  2013-Q1
993   516924704  2013-Q1
994   539799483  2013-Q1
995   421167659  2013-Q1
996   405622181  2013-Q1
997   451288104  2013-Q1
998   468404895  2013-Q1
999   556545516  2013-Q1
1000  442107865  2013-Q1

[1001 rows x 2 columns]

# Run them all!

In [60]:
print("starting processing Apple Data Request")

starting processing Apple Data Request

In [61]:
specific_tables = """
NEWNAME
NEWINAPP
DAILYSCRAPE
MONTHLYSCRAPE
WEEKLYSCRAPE
""".split()

all_tables = [x for x in globals() 
              if callable(globals()[x]) 
              and x.isupper()]
all_tables

['NEWREVIEW',
 'NEWSIMILAR10',
 'NEWINAPP',
 'NEWSUPPORTURL',
 'WEEKLYRATINGSCURRENT',
 'NEWCATEGORY',
 'NEWWEBSITE',
 'ALLVERSIONS',
 'DAILYRATINGSCURRENT',
 'MONTHLYRATINGS',
 'NEWREQ',
 'WEEKLYRATINGS',
 'NEWDEVELOPER',
 'NEWSELLER',
 'NEWNAME',
 'DAILYRATINGS',
 'WEEKLYSCRAPE',
 'NEWARTIST',
 'NEWSIMILAR5',
 'RELEASEDATE',
 'NEWPRICE',
 'NEWSIZE',
 'NEWSIMILAR15',
 'NEWLANGUAGES',
 'MONTHLYSCRAPE',
 'DAILYSCRAPE']

In [62]:
def run_function(f,RAW_FILE=RAW_FILE,OUT_BASE=OUT_BASE,COMPRESS_LEVEL=COMPRESS_LEVEL):
    return f(RAW_FILE ,OUT_BASE,COMPRESS_LEVEL)

for i,file in enumerate(map(run_function,[globals()[x] for x in all_tables])):
    print(i+1,file)

1 /home/cgaray/data/out/NEWREVIEW__apple_ios__main__2015_02_26_23_12.csv.gz
2 /home/cgaray/data/out/NEWSIMILAR10__apple_ios__main__2015_02_26_23_12.csv.gz
3 /home/cgaray/data/out/NEWINAPP__apple_ios__main__2015_02_26_23_12.csv.gz
4 /home/cgaray/data/out/NEWSUPPORTURL__apple_ios__main__2015_02_26_23_12.csv.gz
5 /home/cgaray/data/out/WEEKLYRATINGSCURRENT__apple_ios__main__2015_02_26_23_12.csv.gz
6 /home/cgaray/data/out/NEWCATEGORY__apple_ios__main__2015_02_26_23_12.csv.gz
7 /home/cgaray/data/out/NEWWEBSITE__apple_ios__main__2015_02_26_23_12.csv.gz
8 /home/cgaray/data/out/ALLVERSIONS__apple_ios__main__2015_02_26_23_12.csv.gz
9 /home/cgaray/data/out/DAILYRATINGSCURRENT__apple_ios__main__2015_02_26_23_12.csv.gz
10 /home/cgaray/data/out/MONTHLYRATINGS__apple_ios__main__2015_02_26_23_12.csv.gz
11 /home/cgaray/data/out/NEWREQ__apple_ios__main__2015_02_26_23_12.csv.gz
12 /home/cgaray/data/out/WEEKLYRATINGS__apple_ios__main__2015_02_26_23_12.csv.gz
13 /home/cgaray/data/out/NEWDEVELOPER__apple_ios__main__2015_02_26_23_12.csv.gz
14 /home/cgaray/data/out/NEWSELLER__apple_ios__main__2015_02_26_23_12.csv.gz
15 /home/cgaray/data/out/NEWNAME__apple_ios__main__2015_02_26_23_12.csv.gz
16 /home/cgaray/data/out/DAILYRATINGS__apple_ios__main__2015_02_26_23_12.csv.gz
17 /home/cgaray/data/out/WEEKLYSCRAPE__apple_ios__main__2015_02_26_23_12.csv.gz
18 /home/cgaray/data/out/NEWARTIST__apple_ios__main__2015_02_26_23_12.csv.gz
19 /home/cgaray/data/out/NEWSIMILAR5__apple_ios__main__2015_02_26_23_12.csv.gz
20 /home/cgaray/data/out/RELEASEDATE__apple_ios__main__2015_02_26_23_12.csv.gz
21 /home/cgaray/data/out/NEWPRICE__apple_ios__main__2015_02_26_23_12.csv.gz
22 /home/cgaray/data/out/NEWSIZE__apple_ios__main__2015_02_26_23_12.csv.gz
23 /home/cgaray/data/out/NEWSIMILAR15__apple_ios__main__2015_02_26_23_12.csv.gz
24 /home/cgaray/data/out/NEWLANGUAGES__apple_ios__main__2015_02_26_23_12.csv.gz
25 /home/cgaray/data/out/MONTHLYSCRAPE__apple_ios__main__2015_02_26_23_12.csv.gz
26 /home/cgaray/data/out/DAILYSCRAPE__apple_ios__main__2015_02_26_23_12.csv.gz

In [63]:
print("DONE")

DONE

In [64]:
len(all_tables)

26